@model IEnumerable<prjShoppingForum.Models.Entity.tProduct>

@foreach (var item in Model)
{
    var imageScr = $"../../images/Product/{item.fProductID}.jpg";

    <div class="col-lg-4">
        <div class="thumbnail" style="width:150px;">
            @*商品圖片*@
            <a href="~/ProductBrowseHistory/Creat?productId=@item.fProductID">
                <img src="@imageScr" style="width:80%" />
            </a>
            <div class="caption"></div>
            @*商品名稱*@
            <span>
                @Html.DisplayNameFor(m => m.FirstOrDefault().fProductChName)
                <a href="../../ProductFront/ProductSinglePage?productId=@item.fProductID">
                    @item.fProductChName
                </a>
            </span>
            @*商品價錢*@
            <span>@Html.DisplayNameFor(m => m.FirstOrDefault().fUnitPrice) @item.fUnitPrice</span>
        </div>
    </div>
    @*頁數選擇*@
}


