@model tw.com.essentialoil.Product.ViewModels.ProductMenu
<style>
    .list-group {
        margin: 10px;
    }

        .list-group li:hover {
            background-color: deepskyblue;
        }
</style>
<h6 class="widget-title mb-30">商品分類</h6>
<div class="catagories-menu">
    <ul id="menu-content2" class="menu-content collapse show">
        <!-- 全部商品 -->
        <li  class="" aria-expanded="true">
            @Html.ActionLink("全部商品", "ProductFrontPage")
        </li>


        @foreach (var category in Model.CategoryList)
        {
            <!-- 商品分類--3-1.單方精油依萃取部位分 -->
            <li data-toggle="collapse" data-target="#CategoryID_@category.fCategoryID" class="collapsed">
                <a href="#">@category.fCategoryName +</a>
                @if (category.fCategoryID == 1)
                {
                    <ul class="sub-menu collapse" id="CategoryID_@category.fCategoryID">
                        @foreach (var part in Model.PartList)
                        {
                            <li>@Html.ActionLink(part.fPartName, "ProductFrontPage", new { partId = part.fPartID })</li>
                        }
                    </ul>
                }

                <!-- 商品分類--3-2.副方精油依功效分 -->
                @if (category.fCategoryID == 2)
                {
                    <ul class="sub-menu collapse" id="CategoryID_@category.fCategoryID">
                        @foreach (var efficacy in Model.EfficacyList.Take(5))
                        {
                            <li>@Html.ActionLink(efficacy.fEfficacyName, "ProductFrontPage", new { efficacyId = efficacy.fEfficacyID })</li>
                        }
                    </ul>
                }

                <!-- 商品分類--3-3.植物油依特性分／3-4.純露依特性分 -->
                @if (category.fCategoryID == 3 || category.fCategoryID == 4)
                {
                    <ul class="sub-menu collapse" id="CategoryID_@category.fCategoryID">
                        @foreach (var feature in Model.FeatureList)
                        {
                            <li> @Html.ActionLink(feature.ffeatureName, "ProductFrontPage", new { featureId = feature.ffeatureID, categoryId = category.fCategoryID })</li>
                        }
                    </ul>
                }
            </li>
        }
        <!-- 商品分類--1.全部產品依功效分 -->
        <li data-toggle="collapse" data-target="#clothing" aria-expanded="true" class="">
            <a href="#">依功效分 +</a>
            <ul class="sub-menu collapse" id="clothing" style="">
                @foreach (var efficacy in Model.EfficacyList)
                {
                    <li>@Html.ActionLink(efficacy.fEfficacyName, "ProductFrontPage", new { efficacyId = efficacy.fEfficacyID })</li>
                }
            </ul>
        </li>

        <!-- 商品分類--2.單方精油依香味調性分 -->
        <li data-toggle="collapse" data-target="#shoes" class="" aria-expanded="true">
            <a href="#">依香味調性分 +</a>
            <ul class="sub-menu collapse" id="shoes" style="">
                @foreach (var note in Model.NoteList)
                {
                    <li>@Html.ActionLink(note.fNoteName, "ProductFrontPage", new { noteId = note.fNoteID })</li>
                }
            </ul>
        </li>

    </ul>
</div>
