@model IEnumerable<prjShoppingForum.Models.Entity.tNew>

@{
    Layout = "~/Views/Shared/_Layout_AdminLTE.cshtml";
    ViewBag.Title = "Index";
}
@* 後台消息清單 *@

<h2>最新消息列表</h2>

<p>
    @Html.ActionLink("新增消息", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fNewsTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fNewsDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fNewsStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fNewsEnd)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.fApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fNewsDiscontinue)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fNewsTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fNewsDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fNewsStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fNewsEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fNewsDiscontinue)
            </td>

            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.fNewsId }) |
                @Html.ActionLink("明細", "Details", new { id = item.fNewsId }) |
                @Html.ActionLink("不顯示", "Delete", new { id = item.fNewsId })
            </td>
        </tr>
    }
</table>
    <div>

        <p>@Html.ActionLink("系統目錄", "Index", "Common")</p>

    </div>
