@model IEnumerable<prjShoppingForum.Models.Entity.tOrder>

<div class="container" style="overflow-x:auto">
    <h2>訂單總覽</h2>
    <table class="table table-sm">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tUserProfile.fName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fOrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fRequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fPayment)
            </th>
            <th>
                總金額
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fOrderPostScript)
            </th>
            <th>
                操作
            </th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fOrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tUserProfile.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fOrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fRequiredDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fPayment)
        </td>
        <td>
            totolprice
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fOrderPostScript)
        </td>
        <td>
            @Html.ActionLink("編輯訂單", "Edit", new { id = item.fOrderId }) |
            @Html.ActionLink("訂單明細", "Details", new { id = item.fOrderId })
        </td>
    </tr>
        }
    </table>
</div>