@model tw.com.essentialoil.ProductFavorite.ViewModels.CProductFavorite

<script>
    //Ajax:加入購物車
    function addToCart(productId) {
        $.ajax({
            type: 'POST',
            url:'@Url.Action("addCart", "ShoppingCart")',
            data: { productId: productId}
        })
        cartCount();
    }

    //刪除追蹤商品(確認後執行)
    function doubleCheck(fFavoriteId) {
        let c = confirm('確定要刪除嗎?');
        if (c == true) {
            location.href = `/ProductFavorite/Delete?fFavoriteId=${fFavoriteId}`;
        }
    }
</script>

<div>
    <h2 style="margin:auto;text-align:center;">    收藏清單    </h2>
</div>

<div style="width:70%;margin:auto;text-align:center">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    照片
                </th>
                <th>
                    商品名稱
                </th>
                <th>
                    單價
                </th>
                <th>
                    庫存數量
                </th>
                <th>
                    加入時間
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody style="height:100px;line-height:100px;">
            @foreach (var item in Model.ProductFavorite)
            {
                var imageScr = $"/Images/Product/{item.tProduct.fProductID}.jpg";
                var producthref = $"/ProductFront/ProductSinglePage?productId={item.tProduct.fProductID}";

                <tr>
                    <td>
                        <img src="@imageScr" style="height:100px;width:100px" />
                    </td>
                    <td>
                        <a href="@producthref" style="color:royalblue">@Html.DisplayFor(modelItem => item.tProduct.fProductChName)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tProduct.fUnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tProduct.fUnitsInStock)
                    </td>
                    <td>
                        @item.fAddTime.ToShortDateString()
                    </td>
                    <td>
                        <a class="btn btn-warning addCart" onclick="addToCart(@item.tProduct.fProductID)"><img src="~/Images/ShoppingCart/carticon.png" /></a>
                        <a class="btn btn-danger" onclick="doubleCheck(@item.fFavoriteId)">刪除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script src="~/Scripts/ShoppingCart/jquery.fly.min.js"></script>

    <script>

        $(".addCart").click(function (event) {
            var addcar = $(this);
            var img = addcar.find('img').attr('src');
            var flyer = $('<img class="u-flyer" src="' + img + '">');
            console.log($("#essenceCartBtn").offset().left);
            console.log($("#essenceCartBtn").offset().top);
            flyer.fly({
                start: {
                    left: event.pageX,
                    top: event.pageY - $(window).scrollTop()
                }, 
                end: {
                    left: $("#essenceCartBtn").offset().left, //結束位置（必填） 
                    top: $("#essenceCartBtn").offset().top - $(window).scrollTop(), //結束位置（必填） 
                    width: 0, //結束時寬度 
                    height: 0 //結束時高度 
                }, 
                onEnd: function () { //結束回撥 
                    addcar.css("cursor", "default");
                } 
            }); 
        })
    </script>
}