@model prjShoppingForum.Models.Entity.tNew

@* 前台消息內文 *@


@section Styles
    {
    <link href="~/Content/fullca/css03.css" rel="stylesheet" />
    <link href="~/Content/fullca/css02.css" rel="stylesheet" />
    <link href="~/Content/fullca/css01.css" rel="stylesheet" />

    <style>

        html, body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 40px auto;
        }

        /*.hh {
            text-align: center;
            color: #7B8670;
        }*/

        .top {
            width: 70%;
            background-color: #BDB4BF;
            position: relative;
            left: 560px;
        }

        .t1 {
            color: azure;
            background-color: #505f95;
            text-shadow: 5px 5px 5px gray;
            width: 70%;
            font-size: 32px;
        }

        .t2 {
            text-align: right;
            font-size: 30px;
            width: 70%;
        }

        .tm1 {
            width: 70%;
            background-color: #EBE9E1;
            /*text-align: right;*/
            /*position: relative;
            left: 560px;*/
        }


        /*.box {
            margin: auto;
            padding: 15px;
        }*/

        .article {
            display: block;
            width: 800px;
            /*border:1px solid gray;*/
            margin: 5px auto;
            padding: 30px 80px;
            background-color: #ffffff;
            border-radius: 10px;
        }

        .mainA {
            text-align: left;
            margin:50px auto;
        }

        .s {
            -webkit-filter: grayscale(1);
            height:40px;
            width:40px;
            /*沒有任何色彩的黑白影像*/
        }

        .n {
            -webkit-filter: grayscale(0);
            height: 40px;
            width: 40px;
            /*顏色不變*/
        }

        .star {
            width: 800px;
            /*position: relative;*/
            /*left: 950px;*/
        }

        #calendar {
            width: 500px;
            position: absolute;
            top: 200px;
            left: 50px;
        }
        .img {
            width:50px;
            height:50px
        }
    </style>
}


    <article>
        <div class="content" style="margin:170px auto;text-align:center;width:75%">
            <div style="margin-bottom:10px; text-align:center">
                <a style="font-size:16px;background-color:#FFD800">@Html.DisplayFor(model => model.fClass)</a>
                <a style="font-size:26px">@Html.DisplayFor(model => model.fNewsTitle)</a>
            </div>
            <div data-starty="@Model.fNewsStart.Year.ToString()" data-starym="@Model.fNewsStart.Month.ToString()" data-startd="@Model.fNewsStart.Day.ToString()" data-endy="@Model.fNewsEnd.AddDays(1).Year.ToString()" data-endm="@Model.fNewsEnd.AddDays(1).Month.ToString()" data-endd="@Model.fNewsEnd.AddDays(1).Day.ToString()">
                @Html.DisplayFor(model => model.fNewsStart) ~
                @Html.DisplayFor(model => model.fNewsEnd)
            </div>
            @*<img src="~/Images/News/lesson1.jpg" />*@

            <span id="starnum" style="text-align:right"></span>

            @*<div id='calendar'></div>*@

            @*<div class="top">
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <span class="t1"></span>&emsp;&emsp;
            <span class="t2"></span>
        </div>*@

            @*文章內容*@
            <div class="mainA">
                @Html.Raw(Model.fNewsArticle)
            </div>
            <hr style="border:1px solid #55C1A1" />
            <div class="row">
                <div class="col-2">
                    <div style="text-align:left">
                        @Html.DisplayNameFor(model => model.fNewsTag)  @Html.DisplayFor(model => model.fNewsTag)
                    </div>
                    <div style="text-align:left">
                        @Html.DisplayNameFor(model => model.fGet_No)
                        <span id="starsp">@Html.DisplayFor(model => model.fGet_No)</span>
                    </div>
                </div>
                <div class="col-10" style="text-align:center">
                    <div class="star">
                        <p>喜歡我們的文章嗎? 給個厭世小星星吧</p>
                        <a><img id="img1" class="s" src="~/Images/star2.png"></a>
                        <a><img id="img2" class="s" src="~/Images/star2.png"></a>
                        <a><img id="img3" class="s" src="~/Images/star2.png"></a>
                        <a><img id="img4" class="s" src="~/Images/star2.png"></a>
                        <a><img id="img5" class="s" src="~/Images/star2.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </article>


@section Scripts{

    <script>
        var Imgs = document.querySelectorAll("img.s");
        var sp = document.getElementById("starnum");
        var bbtn = document.getElementById("Button1");
        //var resstar = document.getElementById("starsp");
        let resstar = $('#starsp');

        var flag = false;


        for (var i = 0; i < Imgs.length; i++) {
            Imgs[i].addEventListener("mouseover", mOver);
            Imgs[i].addEventListener("mouseout", mOut);
            Imgs[i].addEventListener("click", Click);

            //Imgs[i].onmouseover = mOver;
            //Imgs[i].onmouseout = mOut;
            //Imgs[i].onclick = Click;
        }

        function mOver() {
            var snum = this.id.charAt(3);
            if (flag == false) {
                for (var i = 0; i < snum; i++) {
                    Imgs[i].className = "n";
                    //console.log("mouseover="+ i);
                }
                //sp.innerHTML = ("這是第" + snum + "顆厭世小星");
            }
        }

        function mOut() {
            var snum = this.id.charAt(3);
            if (flag == false) {
                for (var i = 0; i < snum; i++) {
                    Imgs[i].className = "s";
                    //console.log("mouseout="+i);
                }
                sp.innerHTML = "";
            }
        }

        function Click() {
            var snum = this.id.charAt(3);
            //sp.innerHTML = ("恭喜獲得" + snum + "顆厭世小夥伴");
            sp.style.color = "#FF0080";
            flag = true;
            for (var i = 0; i < snum; i++) {
                Imgs[i].removeEventListener("mouseout", mOut);
                Imgs[i].removeEventListener("mouseover", mOver);
                Imgs[i].removeEventListener("click", Click);
            }

            //用Ajax

            $.post(
                '@Url.Action("Star","News")',//將request發到設定的Action/controller
                {
                    fNewsId:@Model.fNewsId,
                    starnum: snum
                },//要傳送的資料
                function (response) {
                    resstar.text(response);
                }//處理response
            )


        }
        //bbtn.addEventListener("click", re);
        //function re() {
        //    flag = false;
        //    for (var i = 0; i < Imgs.length; i++) {
        //        Imgs[i].addEventListener("mouseover", mOver);
        //        Imgs[i].addEventListener("mouseout", mOut);
        //        Imgs[i].addEventListener("click", Click);
        //    }
        //}

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            let title         = $('.t2').text();
            let startYear     = $('.tm1').attr('data-starty');
            let startMonthTmp = $('.tm1').attr('data-starym');
            let startMonth    = (startMonthTmp.length > 1) ? startMonthTmp : `0${startMonthTmp}`;
            let startDayTmp   = $('.tm1').attr('data-startd');
            let startDay      = (startDayTmp.length > 1) ? startDayTmp : `0${startDayTmp}`;
            let endYear       = $('.tm1').attr('data-endy');
            let endMonthTmp   = $('.tm1').attr('data-endm');
            let endMonth      = (endMonthTmp.length > 1) ? endMonthTmp : `0${endMonthTmp}`;
            let endDayTmp     = $('.tm1').attr('data-endd');
            let endDay        = (endDayTmp.length > 1) ? endDayTmp : `0${endDayTmp}`;


            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                selectable: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                //dateClick: function (info) {
                //    alert('clicked' + info.dateStr);
                //},
                //  select: function (info) {
                //    alert('selected' + info.startStr + ' to ' + info.endStr);
                //},
                events: [
                    {
                        'title': title,
                        'start': `${startYear}-${startMonth}-${startDay}`,
                        'end': `${endYear}-${endMonth}-${endDay}`
                    }
                ]

            }
            )

            calendar.render();

        });






    </script>
}
