@model prjShoppingForum.Models.Entity.tNew

@* 前台消息內文 *@
<style>
    .top {
        width: 100%;
        background-color: #BDB4BF;
        border: 4px 4px 4px 4px;
    }

    .box {
        margin: auto;
        padding: 15px;
    }

    .article {
        display: block;
        width: 800px;
        /*border:1px solid gray;*/
        margin: 5px auto;
        padding: 30px 80px;
        background-color: #ffffff;
        border-radius: 10px;
    }

    .t1 {
        color: azure;
        background-color: #505f95;
        text-align:center; 
        text-shadow: 5px 5px 5px gray;
        margin-bottom: 20px auto;
        display: initial;
    }
    .t2 {
        text-align: right;
        font-size: 30px;
    }
    .tm1
    {
        background-color: #EBE9E1;
        text-align: right
    }
    .mainA 
    {
        text-align:center;
    }

    .s {
        -webkit-filter: grayscale(1);
        /*沒有任何色彩的黑白影像*/
    }

    .n {
        -webkit-filter: grayscale(0);
        /*顏色不變*/
    }

    .star {
        width: 800px;
        text-align: right;
    }
</style>

<div class="box">
    <div class="top">
        <img src="~/Images/NEWS/SHOP.png" />
    </div>
    <hr/>
    <article>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <span class="t1">@Html.DisplayFor(model => model.fClass)</span>&emsp;&emsp;
        <span class="t2">@Html.DisplayFor(model => model.fNewsTitle)</span>

        <div class="tm1">
            @Html.DisplayFor(model => model.fNewsStart)
            &emsp;&emsp;&emsp;
            @Html.DisplayFor(model => model.fNewsEnd)
        </div>
        <div style="text-align:right">
            @Html.DisplayNameFor(model => model.fNewsTag)&emsp;@Html.DisplayFor(model => model.fNewsTag)
        </div>
        <div style="text-align:right">
            @Html.DisplayNameFor(model => model.fGet_No) &emsp;&emsp;
            <span id="starsp">@Html.DisplayFor(model => model.fGet_No)</span><br />
        </div>

        <div class="star">
            <a><img id="img1" class="s" src="~/Images/star2.png"></a>
            <a><img id="img2" class="s" src="~/Images/star2.png"></a>
            <a><img id="img3" class="s" src="~/Images/star2.png"></a>
            <a><img id="img4" class="s" src="~/Images/star2.png"></a>
            <a><img id="img5" class="s" src="~/Images/star2.png"></a>
            <span id="starnum" style="text-align:right"></span>
        </div>
        <br />
        <br />
        <div class="mainA">
            @Html.Raw(Model.fNewsArticle)
        </div>
    </article>
</div>




@section Scripts{

    <script>
        var Imgs = document.querySelectorAll("img.s");
        var sp = document.getElementById("starnum");
        var bbtn = document.getElementById("Button1");
        //var resstar = document.getElementById("starsp");
        let resstar = $('#starsp');

        var flag = false;


        for (var i = 0; i < Imgs.length; i++) {
            Imgs[i].addEventListener("mouseover", mOver);
            Imgs[i].addEventListener("mouseout", mOut);
            Imgs[i].addEventListener("click", Click);

            //Imgs[i].onmouseover = mOver;
            //Imgs[i].onmouseout = mOut;
            //Imgs[i].onclick = Click;
        }

        function mOver() {
            var snum = this.id.charAt(3);
            if (flag == false) {
                for (var i = 0; i < snum; i++) {
                    Imgs[i].className = "n";
                    //console.log("mouseover="+ i);
                }
                sp.innerHTML = ("這是第" + snum + "顆厭世小星");
            }
        }

        function mOut() {
            var snum = this.id.charAt(3);
            if (flag == false) {
                for (var i = 0; i < snum; i++) {
                    Imgs[i].className = "s";
                    //console.log("mouseout="+i);
                }
                sp.innerHTML = "";
            }
        }

        function Click() {
            var snum = this.id.charAt(3);
            sp.innerHTML = ("恭喜獲得" + snum + "顆厭世小夥伴");
            sp.style.color = "#FF0080";
            flag = true;
            for (var i = 0; i < snum; i++) {
                Imgs[i].removeEventListener("mouseout", mOut);
                Imgs[i].removeEventListener("mouseover", mOver);
                Imgs[i].removeEventListener("click", Click);
            }

            //用Ajax

            $.post(
                '@Url.Action("Star","News")',//將request發到設定的Action/controller
                {
                    fNewsId:@Model.fNewsId,
                    starnum: snum
                },//要傳送的資料
                function (response) {
                    resstar.text(response);
                }//處理response
            )


        }
        //bbtn.addEventListener("click", re);
        //function re() {
        //    flag = false;
        //    for (var i = 0; i < Imgs.length; i++) {
        //        Imgs[i].addEventListener("mouseover", mOver);
        //        Imgs[i].addEventListener("mouseout", mOut);
        //        Imgs[i].addEventListener("click", Click);
        //    }
        //}
    </script>
}
