@model prjShoppingForum.Models.Entity.tNew

@{
    Layout = "~/Views/Shared/_Layout_AdminLTE.cshtml";
    ViewBag.Title = "Create";
}
@* 後臺新增消息 *@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>tNew</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
            @Html.LabelFor(model => model.fNewsId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fNewsId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fNewsId, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="form-group">
        @Html.LabelFor(model => model.fNewsTitle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fNewsTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fNewsTitle, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.fClass, htmlAttributes: new { @name = "fclass", @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="fclass" style="width:300px;height:40px">
                <option value="公告">公告</option>
                <option value="活動">活動</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.fNewsDesc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fNewsDesc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fNewsDesc, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-10">
        @Html.TextAreaFor(model => model.fNewsArticle, new { @ValidateRequestMode = "Enabled", @class = "ckeditor", @style = "weigh:300px,height:350px" })
        
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.fAddUser, "fAddUser", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("fAddUser", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.fAddUser, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
            @Html.LabelFor(model => model.fChangUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fChangUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fChangUser, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
            @Html.LabelFor(model => model.fDeleteUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fDeleteUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fDeleteUser, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.fApproved, htmlAttributes: new { @type = "radio", @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="Radio" type="radio" name="fapproved" value="Y" /><label for="Radio">&ensp;Y&ensp;</label>
            <input id="Radio" type="radio" name="fapproved" value="N" /><label for="Radio">&ensp;N&ensp;</label>
        </div>
    </div>
    @*<div class="form-group">
            @Html.LabelFor(model => model.fNewsDiscontinue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fNewsDiscontinue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fNewsDiscontinue, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.fNewsStart, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fNewsStart, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fNewsStart, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fNewsEnd, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fNewsEnd, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fNewsEnd, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.fNewsTag, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fNewsTag, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fNewsTag, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.fGet_No, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fGet_No, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fGet_No, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("返回", "Index")
</div>

@section Scripts{
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckfinder/ckfinder.js"></script>
<script>
    
</script>
    }