@model IEnumerable<prjShoppingForum.Models.Entity.tNew>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NewsList";
}

@section Styles
    {
    <link href="~/Content/fullca/css03.css" rel="stylesheet" />
    <link href="~/Content/fullca/css02.css" rel="stylesheet" />
    <link href="~/Content/fullca/css01.css" rel="stylesheet" />
    <style>
        .top {
            position: relative;
            left: 150px;
        }

        .sear {
            position: relative;
            left: 150px;
            text-align: right;
            margin-top: 1px;
            background-color: #EBE9E1;
            width: 84%;
        }
        .yyyymmdd {
            position:relative;
            left:150px;
        }
        #calendar {
            position: relative;
            width: 500px;
            left: 0px;
        }

        .table {
            position: absolute;
            left: 518px;
            top: 0px;
            width: 57%;
        }
    </style>

}
@* 前台消息清單 *@

<div class="top">
    <img src="~/Images/News/hot_hot.png" />
</div>
<div class="sear">
    @using (Html.BeginForm())
    {
        <span>
            搜尋:
        </span>
        @Html.TextBox("SearchKey", "");
        <input type="submit" value="搜尋" />
    }
    <h5>@ViewBag.Message</h5>
</div>
<div class="yyyymmdd">
    <div id='calendar'></div>

    <table class="table">
        <thead style="background-color:#DE883A">
            <tr>
                <th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fClass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fNewsTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fNewsDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fNewsStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fNewsEnd)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr class="newsList" data-starty="@item.fNewsStart.Year.ToString()" data-starym="@item.fNewsStart.Month.ToString()" data-startd="@item.fNewsStart.Day.ToString()" data-endy="@item.fNewsEnd.AddDays(1).Year.ToString()" data-endm="@item.fNewsEnd.AddDays(1).Month.ToString()" data-endd="@item.fNewsEnd.AddDays(1).Day.ToString()" data-title="@item.fNewsTitle">
                    <td>
                        <img src="~/Images/News/news_icc.png" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fClass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fNewsTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fNewsDesc)
                    </td>
                    <td>
                        @item.fNewsStart.ToLongDateString()
                    </td>
                    <td>
                        @item.fNewsEnd.ToLongDateString()
                    </td>
                    <td>
                        @Html.ActionLink("文章內容", "Content", new { Id = item.fNewsId }) |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        let resultArray = [];
        let newsLists = $('.newsList');
        $(newsLists).each(function (idx, value) {
            let title         = $(value).attr('data-title');
            let startYear     = $(value).attr('data-starty');
            let startMonthTmp = $(value).attr('data-starym');
            let startMonth    = (startMonthTmp.length > 1) ? startMonthTmp : `0${startMonthTmp}`;
            let startDayTmp   = $(value).attr('data-startd');
            let startDay      = (startDayTmp.length > 1) ? startDayTmp : `0${startDayTmp}`;
            let endYear       = $(value).attr('data-endy');
            let endMonthTmp   = $(value).attr('data-endm');
            let endMonth      = (endMonthTmp.length > 1) ? endMonthTmp : `0${endMonthTmp}`;
            let endDayTmp     = $(value).attr('data-endd');
            let endDay        = (endDayTmp.length > 1) ? endDayTmp : `0${endDayTmp}`;

            let result = {
                'title': title,
                'start': `${startYear}-${startMonth}-${startDay}`,
                'end': `${endYear}-${endMonth}-${endDay}`
            };

            resultArray.push(result);
        });




        document.addEventListener('DOMContentLoaded', function () {
            console.log(resultArray);

            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                selectable: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: resultArray
            });

            calendar.render();
        });

    </script>
}