@model IEnumerable<prjShoppingForum.Models.Entity.tNew>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NewsList";
}

@section Styles
    {
    <link href="~/Content/fullca/css03.css" rel="stylesheet" />
    <link href="~/Content/fullca/css02.css" rel="stylesheet" />
    <link href="~/Content/fullca/css01.css" rel="stylesheet" />
    <style>
        .top {
            position: relative;
            left: 150px;
        }

        .sear {
            position: relative;
            left: 150px;
            text-align: right;
            margin-top: 1px;
            background-color: #EBE9E1;
            width: 84%;
        }
        .yyyymmdd {
            position:relative;
            left:150px;
        }
        #calendar {
            position: relative;
            width: 500px;
            left: 0px;
        }

        .table {
            position: absolute;
            left: 518px;
            top: 0px;
            width: 57%;
        }
    </style>

}
@* 前台消息清單 *@

<div class="top">
    <img src="~/Images/News/hot_hot.png" />
</div>
<div class="sear">
    @using (Html.BeginForm())
    {
        <span>
            搜尋:
        </span>
        @Html.TextBox("SearchKey", "");
        <input type="submit" value="搜尋" />
    }
    <h5>@ViewBag.Message</h5>
</div>
<div class="yyyymmdd">
    <div id='calendar'></div>

    <table class="table">
        <thead style="background-color:#DE883A">
            <tr>
                <th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fClass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fNewsTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fNewsDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fNewsStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fNewsEnd)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        <img src="~/Images/News/news_icc.png" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fClass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fNewsTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fNewsDesc)
                    </td>
                    <td>
                        @item.fNewsStart.ToLongDateString()
                    </td>
                    <td>
                        @item.fNewsEnd.ToLongDateString()
                    </td>
                    <td>
                        @Html.ActionLink("文章內容", "Content", new { Id = item.fNewsId }) |
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>

@section scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                selectable: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                dateClick: function (info) {
                    alert('clicked' + info.dateStr);
                },
                //select: function (info) {
                //    alert('selected' + info.startStr + ' to ' + info.endStr);
                //}
                event: [{
                    'title': '133',
                    'start': '2020-03-02',
                    'end': '2020-03-15'
                }]
            });

            calendar.render();
        });

    </script>
}