<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/quill.snow.css" rel="stylesheet">
    <!-- Favicon  -->
    <link rel="icon" href="~/Content/template/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/Content/template/css/core-style.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <style>
        *:not(.fa-search):not(.fa-angle-up) {
            font-family: 'UD Digi Kyokasho N-R' !important;
        }

        .forum-mid {
            width: 80vw;
            min-height: 60vh;
            margin: auto;
        }

        .liFont {
           
            color: white !important;
        }

        .liFont:hover {
         
            color: black !important;
        }

        ::placeholder {
            color: white;
        }
    </style>
    @RenderSection("Styles", false)
    
</head>
<body class="backgroundImage" >
    <div class="wrapper">
        <header class="header_area" style="height:100px">
            <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between" style="background-color:#729bb0; height:100px">
                <!-- Classy Menu -->
                <nav class="classy-navbar" id="essenceNav">
                    <!-- Logo -->
                    <a class="nav-brand" href="/Home/Index"><img src="~/Images/logo.png" alt="" style="height:85px; width:auto;"></a>
                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                @*<li>
                                    <a href="~/Home/Index"><img src="~/Images/logo.png" style="height:85px; width:auto;" /></a>
                                </li>*@
                                <li>
                                    <a href="~/Forum/List" class="liFont">文章首頁</a>
                                </li>
                                <li>
                                    <a href="~/Forum/SelfList" class="liFont">收藏 / 隱藏列表</a>
                                </li>
                                <li>
                                        @*<button type="button" class="btn liFont" data-toggle="modal" data-target="#ModalScrollableForPost" >
                                            發表文章
                                        </button>*@
                                    <a data-toggle="modal" class="btn liFont" data-target="#ModalScrollableForPost">發表文章</a>
                                    
                                </li>

                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>

                <!-- Header Meta Data -->
                <div class="header-meta d-flex clearfix justify-content-end">
                    <!-- Search Area -->
                    <div class="search-area">
                        <div class="formfake" style="border:none !important;">
                            <input type="search" name="search" id="searchPost" placeholder="文章標題" style="color:white; background-color:#729bb0;"/ >
                            <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>

                    </div>

                    <div style="width:150px"></div>

                    <!-- User Login Info -->
                    <div class="user-login-info">
                        <a href="@Url.Action("LogOut", "FrontUserProfile")" id="logout" style="border:none !important;"><img src="~/Content/template/img/core-img/logout2.svg" height="80" width="80" style="margin:5px;" alt=""></a>
                    </div>
                </div>

            </div>
        </header>

        <div class="forum-mid">
            @RenderBody()
        </div>

        <!-- ##### Footer Area Start ##### -->
        <footer class="footer_area clearfix" style="background-color:#858E88;margin-top:100px;padding:40px 0 20px">
            <div class="container">
                <div class="row">
                    <!-- Single Widget Area -->
                    <div class="col-12 col-md-6">
                        <div class="single_widget_area d-flex mb-30">
                            <!-- Logo -->
                            <div class="footer-logo mr-50">
                                @*<a href="#"><img src="img/core-img/logo2.png" alt=""></a>*@
                            </div>
                            <!-- Footer Menu -->
                            <div class="footer_menu">
                                <ul>
                                    <li><a>係精A油</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Widget Area -->
                    <div class="col-12 col-md-6">
                        <div class="single_widget_area mb-30">
                            <ul class="footer_widget_menu">
                                <li><a href="#">沒有24小時服務資訊</a></li>
                                <li><a href="#">上班時間：09:00~16:30</a></li>
                                <li><a href="#">訂購專線：0900-123-456</a></li>
                                <li><a href="#">服務專線：0900-456-789</a></li>
                                <li><a href="#">Email：shiginayoo@gmail.com</a></li>
                                <li><a href="#">地址：台北市大安區信義路3段153號3樓301室</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12 text-center">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ##### Footer Area End ##### -->
        <div class="modal fade" id="ModalScrollableForPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">編輯文章</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    @* 標題區塊 *@
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">標題</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="請輸入標題" id="postTitle">
                    </div>

                    @* 編輯文章區塊 *@
                    <div class="modal-body" id="editorPost">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">離開</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" id="crmPost">確認送出</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/template/js/popper.min.js"></script>
    <script src="~/Content/template/js/plugins.js"></script>
    <script src="~/Content/template/js/classy-nav.min.js"></script>
    <script src="~/Content/template/js/active.js"></script>

    @*For quill using*@
    <script src="~/Scripts/quill.js"></script>

    <script>
        $('#searchPost').keydown(function (event) {
            if (event.keyCode == 13) {
                window.open("SearchPost?searchText=" + $('#searchPost').val());
            }
        })

        //建立Quill文章編輯器
        let toolbarForPost = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],
            [{ 'list': 'bullet' }, { 'list': 'ordered' }],
            [{ 'script': 'super' }, { 'script': 'sub' }],      // superscript/subscript
            [{ 'direction': 'rtl' }],                         // text direction
            [{ 'indent': '+1' }, { 'indent': '-1' }],          // outdent/indent
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],
            ['image', 'video'],
            ['clean']                                         // remove formatting button
        ];

        //ID選擇器：#editorPost <- 注意!
        let quill = new Quill('#editorPost', {
            modules: {
                toolbar: toolbarForPost
            },
            placeholder: '請輸入文章內容',
            theme: 'snow'
        });

        //確認發佈的click事件，註冊ajax事件
        $('#crmPost').on('click', function () {
            //1. 取得文章的json內容
            let content = JSON.stringify(quill.getContents());
            let title = $("#postTitle").val();

            $.post(
                '@Url.Action("Create","Forum")',
                {
                    title: title,
                    content: content
                },
                function (response) {
                    console.log(response);

                    //清空資料
                    $("#postTitle").val('');
                    quill.setContents([
                        { insert: '' }
                    ]);
                }
            )
        })
    </script>
    @RenderSection("Scripts", false)

</body>
</html>
