@model tw.com.essentialoil.ShoppingCart.ViewModels.CShoppingCart

@section styles{
    @*用戶端防止快取(上一頁)*@
    <meta http-equiv="expires" content="0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
}
<style>
    .hide {
        display: none;
    }

    .container {
        margin-top: 20px;
    }

    tr.active {
        background: lightblue;
    }

    .productSum {
        color: red
    }

    .numberPlus {
        height: 40px;
        width: 40px;
    }

    .numberMinus {
        height: 40px;
        width: 40px;
    }

    /*取消input[type=number]箭頭格式*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }

    .checkbox {
        height: 15px !important;
        width: 15px !important;
    }
</style>
@{
    ViewBag.Title = "viewCart";
    double totalPrice = 0;
}

<div style="width:70%;text-align:left;margin:auto;padding-top:0px;">
    <div style="margin-top:150px;margin-bottom:10px">
        <img src="~/Images/ShoppingCart/bulletin.png" style="height:100px;width:320px; margin-right:60px" />
        <img src="~/Images/ShoppingCart/step1.png" style="height:150px;width:auto;" />
    </div>
</div>
<div style="width:85%;text-align:right">
    <a class="btn btn-outline-danger" style="margin-bottom:3px;" onclick="doubleCheckAll()">清空購物車</a>
</div>
<div style="width:70%;text-align:center;margin:auto;padding-top:5px;font-size:18px;">
    @using (Html.BeginForm())
    {
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th style="width:5%" class="">
                        <input type="checkbox" id="checkAll" class="checkbox" />
                    </th>
                    <th style="width:15%">
                        圖片
                    </th>
                    <th style="width:15%">
                        商品名稱
                    </th>
                    <th style="width:10%">
                        單價
                    </th>
                    <th style="width:20%">
                        數量
                    </th>
                    <th style="width:15%">
                        小計
                    </th>
                    <th style="width:30%">
                        收藏 / 刪除
                    </th>
                </tr>
            </thead>
            <tbody style="height:100px;line-height:100px;">
                @foreach (var item in Model.ShoppingCart)
                {
                    var imageScr = $"/Images/Product/ura/{item.fProductID}.jpg";
                    var producthref = $"/ProductFront/ProductSinglePage?productId={item.fProductID}";

                    <tr data-id="@item.fBasketId" data-prodId="@item.fProductID">
                        <td>
                            <input type="checkbox" class="checkbox" />
                        </td>
                        <td>
                            <a href="@producthref"><img src="@imageScr" style="height:100px;width:100px" /></a>
                        </td>
                        <td>
                            <a href="@producthref" style="color:royalblue;font-size:18px;">@Html.DisplayFor(modelItem => item.tProduct.fProductChName)</a>
                        </td>
                        <td>
                            NT$
                            <span class="unitprice">
                                @Html.DisplayFor(modelItem => item.tProduct.fUnitPrice)
                            </span>
                        </td>
                        <td>
                            <input type="button" class="btn btn-secondary numberMinus" value="-" />
                            <input type="hidden" class="txtStock" value="@item.tProduct.fUnitsInStock" />
                            <input type="number" class="txtNum" value="@item.fQuantity" max="@item.tProduct.fUnitsInStock" min="1" pattern=".{1,}" style="text-align: center;width:60px;height:40px;" />
                            <input type="button" class="btn btn-secondary numberPlus" value="+" />

                        </td>
                        <td style="color:red">
                            NT$
                            <span class="productSum">
                                @(item.fQuantity * (double)item.tProduct.fUnitPrice)
                            </span>
                        </td>
                        <td>
                            <a class="btn btn-outline-info" onclick="addToFavorite(@item.fProductID)"><img class="fav" src="~/Images/Product/like_blue.png" style="width:27px" /></a>
                            <a class="btn btn-outline-danger" onclick="doubleCheck(@item.fBasketId)"><img src="~/Images/ShoppingCart/delete.png" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div style="text-align:right;font-size:24px;border-top:1px dashed black;padding:15px">
            折扣方式 :
            <select style="text-align:center;" id="discount">
                <option>無</option>
                <option>積分</option>
                <option>優惠券</option>
            </select>
            <span id="score">
                <input type="number" name="score" value="0" min="0" style="text-align:center;height:30px;" />
                @foreach (var item in Model.UserProfiles)
                {
                    <input type="hidden" value="@item.fScore" name="memberScore" />
                    <span style="color:orange">目前積分：@item.fScore</span>
                }
            </span>
            <span id="coupon">
                <select name="selectcoupon" id="selectcoupon">
                    <option>無</option>
                    @foreach (var item in Model.UserDiscountLists)
                    {
                        if (item.fCount != 0)
                        {
                            <option value="@item.fDiscountCode">@item.tDiscount.fDiscountName</option>
                        }
                    }
                </select>
                <input type="hidden" name="coupon" value="無" />
            </span>
        </div>
        <div style="text-align:right;font-size:24px;border-top:1px dashed black;padding:15px">
            總共
            <span class="cartSumCount" style="color:red">0</span>
            項商品，商品總計
            <span style="color:red">NT$ </span>
            <span class="cartSumPrice" style="color:red">
                @totalPrice
            </span>
            <span>
                ，折扣後商品金額為
            </span>
            <span style="color:red">NT$ </span>
            <span class="totalSumPrice" style="color:red">
                0
            </span>
        </div>
        <div style="text-align:right;border-top:1px dashed black;padding:30px;text-align:center">
            @Html.ActionLink("<<繼續購物", "ProductFrontPage", "ProductFront", null, new { @class = "btn btn-warning", style = "font-size:24px;width:180px" })
            <input type="hidden" id="orderUrl" name="url" />
            <input type="submit" id="toOrder" value="確認購買>>" class="btn btn-info" style="font-size:24px;width:180px;" />
        </div>
    }
</div>
<br />
<h4 style="text-align:center;font-family:'UD Digi Kyokasho N-R';margin-top:60px">瀏覽過的商品</h4>
<div style="height:240px;width:70%;margin:auto;display:flex;margin-bottom:50px;background-color:aliceblue">
    @foreach (var item in Model.BrowseHistory.OrderByDescending(t => t.fBrowseTime).Take(7))
    {
        var imageScr = $"/Images/Product/ura/{item.fProductId}.jpg";
        var producthref = $"/ProductFront/ProductSinglePage?productId={item.fProductId}";

        <div style="margin:auto">
            <a href="@producthref" style="border:2px solid none;">
                <div style="display:block;margin:20px;text-align:center;">
                    <img src="@imageScr" style="height:150px;width:150px;" />
                    <div style="text-align:center;margin:4px;font-size:16px;">
                        @item.tProduct.fProductChName
                    </div>
                    <div style="text-align:center;margin:4px;font-size:16px;color:blue;">
                        NT$ @item.tProduct.fUnitPrice
                    </div>
                </div>
            </a>
        </div>
    }
</div>

@section scripts{
    <script>

    $(document).ready(function () {
    checkFavorite()                                     //檢查購物車商品是否在收藏內
    $("#toOrder").prop("disabled", true);               //關掉送出訂單按鈕
    $("#discount").prop("disabled", true);              //鎖住選擇優惠欄位
    $("#score").hide();                                 //隱藏積分欄位
    $("#coupon").hide();                                //隱藏優惠券欄位
    $("#checkAll").trigger("click");                             //進入頁面時所有商品都被勾選
    if (!$("#checkAll").prop("checked")) { $("#checkAll").click();}  //防止使用者上一頁或重新整理時重複執行勾選導致沒有勾選
    })

    //商品數量減少
    $(".numberMinus").click(function () {
        let num = $(this).siblings(".txtNum").val();        //目前商品數量
        let numStock = $(this).siblings(".txtStock").val(); //目前商品存貨數量
        let productPrice = $(this).parent().prev().find(".unitprice").text();  //目前商品價格

        if (num <= 1) {
            $(this).prop("disabled", true);                 //關掉減少按鈕
        }
        else {
            num--;
            $(this).siblings(".txtNum").val(num);                           //減少的值傳給數量欄位
            $(this).parent().next().find(".productSum").text(num * parseInt(productPrice));     //小計更新
            $(this).parent().next().addClass("productSum")                  //小計的顏色變成紅色(上面更新會蓋過格式)

            if (num < parseInt(numStock)) {
                $(this).siblings(".numberPlus").prop("disabled", false);    //打開增加按鈕
            }

            tatalResult();
            scoreMax();
            saveToDB();
            scoreCalculation();
            coupon();
        }
    })
    //商品數量增加
    $(".numberPlus").click(function () {
        let num = $(this).siblings(".txtNum").val();                            //目前商品數量
        let numStock = $(this).siblings(".txtStock").val();                     //目前商品存貨數量
        let productPrice = $(this).parent().prev().find(".unitprice").text();   //目前商品價格

        if (num < parseInt(numStock)) {
            num++;
            $(this).siblings(".txtNum").val(num);                                               //增加的值傳給數量欄位
            $(this).parent().next().find(".productSum").text(num * parseInt(productPrice));     //小計更新
            $(this).parent().next().addClass("productSum")                                      //小計的顏色變成紅色(上面更新會蓋過格式)

            if (num > 0)
            {
                $(this).siblings(".numberMinus").prop("disabled", false);   //打開減少按鈕
            }

            tatalResult();
            scoreMax();
            saveToDB();
            scoreCalculation();
            coupon();
        }
        else {
            $(this).prop("disabled", true);                                 //關掉增加按鈕
        }
    })
    //勾選單項商品(執行替換背景顏色、計算商品總數量與價格、將購物車Id存入input、檢查是否有選項被勾選)
    let rowConut = $("tbody tr").length;                        //全部商品項數
    $("tbody :checkbox").click(function () {
        let checked = $(this).prop("checked")                   //勾選狀態
        let checkedRow = $("tbody :checked").length;            //目前選擇項數
        let sum = $(".cartSumPrice").text()                     //總價

        if (checked) {                                          //如果是勾選
            $(this).parent().parent().addClass("active")        //勾選的背景顏色替換
        }
        else {                                                  //如果是取消勾選
            $(this).parent().parent().removeClass("active")     //沒勾選的回到原本背景
        }

        if (rowConut == checkedRow) {
            $("#checkAll").prop("checked", true)                //如果目前選擇項數等於全部商品項數，將全部勾選的選項打勾
        } else {
            $("#checkAll").prop("checked", false)               //如果目前選擇項數沒有等於全部商品項數，將全部勾選的選項取消打勾
        }
        tatalResult();
        totalProductId();
        totalChecked();
    })
    //勾選所有商品
    $("#checkAll").click(function () {
        let checked = $(this).prop("checked")                   //確認全部勾選的選項狀態
        $("tbody :checkbox").prop("checked", checked)           //將所有商品狀態換成跟全部勾選的選項狀態一樣

        if (checked) {
            $("tbody tr").addClass("active")                    //將所有商品背景顏色替換
        } else {
            $("tbody tr").removeClass("active")                 //移除所有商品背景顏色替換
        }
        tatalResult();
        totalProductId();
        totalChecked();
    })
    //當數量欄位被鍵盤修改時
    $(".txtNum").change(function () {
        let numStock = parseInt($(this).siblings(".txtStock").val());                     //目前商品存貨數量
        if (parseInt($(this).val()) > 0 && parseInt($(this).val()) <= parseInt($(this).siblings(".txtStock").val())) {
            $(this).val()
        }
        else
        {
            $(this).val(numStock)                                                                                      //如果值不屬於範圍區間，則返回1
        }
        let productPrice = $(this).parent().prev().find(".unitprice").text();                                    //目前商品價格
        $(this).parent().next().find(".productSum").text($(this).val() * parseInt(productPrice));                //小計修改
        $(this).parent().next().addClass("productSum");                                                          //小計變色
        tatalResult();
        scoreCalculation();
        coupon();
    })
    //計算總價 & 總數量 (將有打勾的商品全部加總)
    function tatalResult() {
        let totalSumPrice = 0;
        let totalSumCount = 0;
        $("tbody :checkbox").each(function () {
            let checked = $(this).prop("checked")                                                  //每個checkbox狀態
            if (checked) {
                let productCount = $(this).parent().parent().find(".txtNum").val();                //商品數量
                let productUnitPrice = parseInt($(this).parent().next().next().next().find(".unitprice").text());     //商品單價
                totalSumCount += parseInt(productCount);                                           //數量加到總數量
                totalSumPrice += productCount * productUnitPrice;                                  //價錢加到總價
            }
        })
        $(".cartSumCount").text(totalSumCount);                                                    //更新總數量
        $(".cartSumPrice").text(totalSumPrice);                                                    //更新總價
        $(".totalSumPrice").text(totalSumPrice);                                                   //更新折扣完總價
    }
    //勾選商品後將勾選的數量存進購物車&將勾選的購物車的Id存入隱藏input
    function totalProductId() {
        let totalBasketId = "";
        $("tbody :checkbox").each(function () {
            let checked = $(this).prop("checked");
            if (checked) {
                let basketId = $(this).parent().parent().attr("data-id");   //讀取購物車Id
                totalBasketId = totalBasketId + basketId + "_";             //將讀取到的Id加入到totalBasketId
            }
        })
        $("#orderUrl").val(totalBasketId);                                  //將購物車的Id存入隱藏input內(要被submit傳遞)
    }
    //檢查是否有商品被勾選(如果有就解鎖送出訂單)
    function totalChecked() {
        let count = 0;                                                      //計算被勾選數量
        $("tbody :checkbox").each(function () {
            let checked = $(this).prop("checked");
            if (checked) {
                count++;
            }
        })
        if (count != 0)
        {
            $("#toOrder").prop("disabled", false);
            $("#discount").prop("disabled", false);
            saveToDB();
        }
        else
        {
            $("#toOrder").prop("disabled", true);
            $("#discount").prop("disabled", true);
            $("#score").hide();
            $("#coupon").hide();
            $("#discount")[0].selectedIndex = 0;
            $("input[name=score]").val(0);
            $("input[name=coupon]").val("無");
        }
    }
    //Ajax:儲存到資料庫
    function saveToDB() {
        $("tbody :checkbox").each(function () {
            let basketId = $(this).parent().parent().attr("data-id");                                           //購物車Id
            let quantity = parseInt($(this).parent().next().next().next().next().find(".txtNum").val());        //數量

            $.ajax({
                type: 'POST',
                url:'@Url.Action("editCart", "ShoppingCart")',
                data: { basketId: basketId, quantity: quantity}
            })
        })
    }
    //送出submit後儲存DB(No Ajax)
    $("form").submit(function () {
            $("tbody :checkbox").each(function () {
            let basketId = $(this).parent().parent().attr("data-id");                                           //購物車Id
            let quantity = parseInt($(this).parent().next().next().next().next().find(".txtNum").val());        //數量

            $.ajax({
                type: 'POST',
                url:'@Url.Action("editCart", "ShoppingCart")',
                data: { basketId: basketId, quantity: quantity },
                async: false                                                                                    //取消同步
            })
        })
    })
    //檢查購物車物品是否在收藏清單
    function checkFavorite() {
        $("tbody :checkbox").each(function () {
            let prodId = $(this).parent().parent().attr("data-prodId");                 //商品Id
            let img;

            $.ajax({
                type: 'POST',
                url:'@Url.Action("favoriteJudge", "ProductFavorite")',
                data: { productId: prodId },
                async: false
            }).done(function (data) {
                img = data.pic;
            })

            $(this).parent().parent().find(".fav").attr("src", img);                    //當前購物車商品的圖片
        })
    }
    //加入收藏清單
        function addToFavorite(productId) {
        let img = $(event.target).find(".fav").prevObject[0];               //抓到該事件的物件中的圖片
        $.ajax({
            type: 'POST',
            url:'@Url.Action("Creat", "ProductFavorite")',
            data: { productId: productId },
            async: false
        }).done(function (data) {
            img.src = data.pic;
            alert(data.mess);
        })
    }
    //清空購物車(確認後執行)
    function doubleCheckAll() {
        let c = confirm('確定要清空購物車嗎?');
        if (c == true) {
            location.href = `@Url.Action("deleteAll", "ShoppingCart")`;
        }
    }
    //刪除購物車(確認後執行)
    function doubleCheck(fBasketId) {
        let c = confirm('確定要刪除嗎?');
        if (c == true) {
            location.href = `/ShoppingCart/delete?basket=${fBasketId}`;
        }
    }
    //選擇優惠方式
    $("#discount").change(function () {
        if ($(this).val() == "無") {
            $("#score").hide();
            $("#coupon").hide();
            $("input[name='score']").val(0);
            $("input[name=coupon]").val("無");
        }
        else if ($(this).val() == "積分") {
            $("#score").show();
            $("#coupon").hide();
            scoreMax();
        }
        else if ($(this).val() == "優惠券"){
            $("#score").hide();
            $("#coupon").show();
            $("input[name='score']").val(0);
        }
        tatalResult();
    })
    //會員積分數量使用上限
    function scoreMax() {
        let sum = parseInt($(".cartSumPrice").text());
        $("input[name='score']").attr("max", sum * 0.1);
    }
    //判斷輸入的積分是否大於會員積分
    $("input[name='score']").change(function () { scoreCalculation();})

    function scoreCalculation() {
        let score = parseInt($("input[name='score']").val());
        let memberScore = parseInt($("input[name='memberScore']").val());
        let totalMoney = parseInt($(".cartSumPrice").text());

        if (score > memberScore) {
            alert("會員積分不夠");
            $("input[name='score']").val(0)
        }
        else {
            $(".totalSumPrice").text(totalMoney - score);
            $("input[name='coupon']").val("無");
        }
    }

    //判斷使用者是否選擇優惠
        $("select[name='selectcoupon']").change(function () { couponCalculate(event); })

        function couponCalculate(event) {
        let discountCode = event.target.value;
        let totalMoney = parseInt($(".cartSumPrice").text());
        
        if (discountCode != "無") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getDiscountValue", "ShoppingCart")',
                async: false,
                data: { discountCode: discountCode, totalMoney: totalMoney }
            }).done(function (data) {
                alert(data.message);
                if (data.message != "已成功使用優惠券") {
                    $("#selectcoupon")[0].selectedIndex = 0;
                }
                $(".totalSumPrice").text(data.returnNum);
                $("input[name='coupon']").val(discountCode);
            })
        }
        else {
            $(".totalSumPrice").text(totalMoney);
            $("input[name='coupon']").val("無");
        }
    }
    </script>
}
