@model IPagedList<prjShoppingForum.Models.Entity.tOrder>
@using PagedList;
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" />

    <div class="container" style="text-align:left;font-size:18px;">
        <h3><img src="~/Images/Member/membercenter/berries.png" width="30" height="30"/> 歴史訂單</h3>
        <hr style="border-bottom:3px solid #CDA0A9;" />
    
        @foreach (var list in Model)
        {
            var shipdate = "";
            var requiredate = "";
            if (list.fShippedDate!=null)
            {
                shipdate= ((DateTime)list.fShippedDate).ToString("yyyy/MM/dd");
            }
            if (list.fRequiredDate != null)
            {
                requiredate = ((DateTime)list.fRequiredDate).ToString("yyyy/MM/dd");
            }
            var count = list.tOrderDetails.Count;
            var orderid = list.fOrderDate.ToString("yyyyMMdd") + list.fOrderId;
            var totalprice = 0;
            var usecode = "";
            foreach (var items in list.tOrderDetails)
            {
                var quantity = Convert.ToInt32(items.fOrderQuantity);
                var price = Convert.ToInt32(items.tProduct.fUnitPrice);
                var subprice = 0;
                subprice = price * quantity;
                totalprice = totalprice + subprice;
            }
            var code = list.fDiscountCode;
            var subtotal = 0;
            var disc = 0;
            if (list.fScore == 0)
            {
                if (code != "無" && code != null)
                {
                    var discontent = list.tUserProfile.tUserDiscountLists.FirstOrDefault(p => p.fDiscountCode == code).tDiscount.fDiscountContent;
                    if (discontent < 1)
                    {
                        subtotal = totalprice * (int)(discontent * 100) / 100;
                    }
                    else
                    {
                        subtotal = totalprice - (int)discontent;
                    }
                }
                else
                {
                    subtotal = totalprice;
                }
            }
            else if (list.fScore != 0 && list.fScore != null)
            {
                subtotal = totalprice - (int)list.fScore;
            }
            else
            {
                subtotal = totalprice;
            }
            if (code != null && code != "無")
            {
                usecode = list.tUserProfile.tUserDiscountLists.Where(p => p.fDiscountCode == code).FirstOrDefault().tDiscount.fDiscountName;
            }
            disc = totalprice - subtotal;
            <div class="row" style="padding-top:15px;">
                <div class="col-md-2 col-lg-2" style="font-weight:bold">
                    訂單編號:
                </div>
                <div class="col-md-4 col-lg-4" style="font-weight:bold">
                    @orderid
                </div>
                <div class="col-md-2 col-lg-2" style="font-weight:bold">
                    預計送達日:
                </div>
                <div class="col-md-4 col-lg-4" style="font-weight:bold">
                    @shipdate
                </div>
            </div>
            <div class="row" style="padding-top:20px;">
                <div class="col-md-2 col-lg-2">
                    訂單時間:
                </div>
                <div class="col-md-4 col-lg-4">
                    @list.fOrderDate
                </div>
                <div class="col-md-2 col-lg-2">
                    希望送達日:
                </div>
                <div class="col-md-4 col-lg-4">
                    @requiredate
                </div>
            </div>
            <div class="row" style="padding-top:20px;">
                <div class="col-md-2 col-lg-2">
                    收貨人:
                </div>
                <div class="col-md-4 col-lg-4">
                    @list.fConsigneeName
                </div>
                <div class="col-md-2 col-lg-2">
                    收貨電話:
                </div>
                <div class="col-md-4 col-lg-4">
                    @list.fConsigneeCellPhone
                </div>
            </div>
            <div class="row" style="padding-top:20px;">
                <div class="col-md-2 col-lg-2">
                    收貨地址:
                </div>
                <div class="col-md-4 col-lg-4">
                    @list.fConsigneeAddress
                </div>
                <div class="col-md-2 col-lg-2">
                    發票公司抬頭:
                </div>
                <div class="col-md-4 col-lg-4">
                    @list.fOrderCompanyTitle
                </div>
            </div>
            <div class="row" style="padding-top:20px;">
                <div class="col-md-2 col-lg-2">
                    統一編號:
                </div>
                <div class="col-md-4 col-lg-4">
                    @list.fOrderTaxIdDNumber
                </div>
                <div class="col-md-2 col-lg-2">
                    訂單備註:
                </div>
                <div class="col-md-4 col-lg-4">
                    @list.fOrderPostScript
                </div>
            </div>
            <div class="row" style="padding-top:20px;">
                <div class="col-md-2 col-lg-2">
                    使用積分:
                </div>
                <div class="col-md-4 col-lg-4">
                    @list.fScore
                </div>
                <div class="col-md-2 col-lg-2">
                    使用優惠卷:
                </div>
                <div class="col-md-4 col-lg-4">
                    @usecode
                </div>
            </div>
            <div class="row" style="padding-top:20px;">
                <div class="col-md-2 col-lg-2">
                    支付方式:
                </div>
                <div class="col-md-4 col-lg-4">
                    @list.fPayment
                </div>
                <div class="col-md-2 col-lg-2" style="font-weight:bold">
                    小計:
                </div>
                <div class="col-md-4 col-lg-4" style="font-weight:bold;color:red">
                   NT$  @totalprice
                </div>
            </div>
            <div class="row" style="padding-top:20px;">
                <div class="col-md-2 col-lg-2" style="font-weight:bold">
                    折扣金額:
                </div>
                <div class="col-md-4 col-lg-4" style="font-weight:bold;color:red">
                   NT$  @disc
                </div>
                <div class="col-md-2 col-lg-2" style="font-weight:bold">
                    總價:
                </div>
                <div class="col-md-4 col-lg-4" style="font-weight:bold;color:red">
                   NT$ @subtotal
                </div>
            </div>
            <table class="table table-active" style="margin-top:20px;margin-bottom:50px">
                <thead>
                    <tr>
                        <td><b>圖片</b></td>
                        <td><b>商品名稱</b></td>
                        <td><b>單價</b></td>
                        <td><b>數量</b></td>
                        <td> <b>小計</b></td>
                    </tr>
                </thead>

                @foreach (var item in list.tOrderDetails)
                {
                    var quantity = Convert.ToInt32(item.fOrderQuantity);
                    var price = Convert.ToInt32(item.tProduct.fUnitPrice);
                    var subprice = 0;
                    subprice = price * quantity;
                    var imageScr = $"/Images/Product/ura/{item.fProductId}.jpg";
                    var pdhref = $"/ProductFront/ProductSinglePage?productId={item.fProductId}";

                <tbody>
                    <tr>
                        <td id="100"><a href="@pdhref"><img src="@imageScr" style="height:50px;width:50px" /></a></td>
                        <td><a href="@pdhref" style="color:royalblue;font-size:16px">@item.tProduct.fProductChName</a></td>
                        <td>NT$ @item.tProduct.fUnitPrice</td>
                        <td>@item.fOrderQuantity</td>
                        <td>NT$ @subprice</td>
                    </tr>
                </tbody>
                }
              
            </table>
            <hr style="border:1px solid #CDA0A9"/>
        }
        @Html.PagedListPager(Model, page => Url.Action("MyOrderList", new { page }))
    </div>

@section Scripts{
    <script>
        var aa = document.querySelector('#aa');
        aa.addEventListener('click', function () {
            $('#100').attr("class","closed");
        })
    </script>
}