@model prjShoppingForum.Models.Entity.tUserProfile
@using tw.com.essentialoil.User.Models;

@{
    ViewBag.Title = "Login";
    string pic = " ";

}

<div class="containers">
    <div class="signup-content">
        <div class="signup-form">
            <h2 class="form-title">Login</h2>
            <form method="POST" class="register-form" id="register-form">

                <div class="form-group">
                    <label for="email"></label>
                    <input type="email" name="fUserId" id="email" placeholder="Your Email as Account" />
                    @Html.ValidationMessageFor(model => model.fUserId, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    <label for="pass"></label>
                    <input type="password" name="fPassword" id="pass" placeholder="Password" />
                    @Html.ValidationMessageFor(model => model.fPassword, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @* <p>Please Enter AuthCode:</p>*@
                    <input type="text" name="fVeriCode" placeholder="Please Enter AuthCode" />
                    <p>

                        @if (Session[UserDictionary.S_AUTHENTICATED_CODE] != null)
                        {
                            pic = Session[UserDictionary.S_AUTHENTICATED_CODE].ToString().Substring(0, 1) + ".png";
                            @:<img src="/Images/Member/@pic" width="30" />
                            pic = Session[UserDictionary.S_AUTHENTICATED_CODE].ToString().Substring(1, 1) + ".png";
                            @:<img src="/Images/Member/@pic" width="30" />
                            pic = Session[UserDictionary.S_AUTHENTICATED_CODE].ToString().Substring(2, 1) + ".png";
                            @:<img src="/Images/Member/@pic" width="30" />
                            pic = Session[UserDictionary.S_AUTHENTICATED_CODE].ToString().Substring(3, 1) + ".png";
                            @:<img src="/Images/Member/@pic" width="30" />
                        }
                    </p>
                    @if (Session[UserDictionary.S_CURRENT_LOGINED_USER] != null)
                    {
                        <p style="color:lightcoral">@Session[UserDictionary.S_CURRENT_LOGINED_USER].ToString()</p>
                        <p style="color:lightcoral">@Session["UserInfo"]</p>
                    }
                </div>


                <div class="form-group form-button">
                    <input type="submit" name="login" id="login" class="form-submit" value="登入" />
                    <input type="reset" name="signup" id="signup" class="form-submit" value="取消" />
                    
                </div>
                <div ><label style="color:blue"><a href="@Url.Action("ForgetPassword", "FrontUserProfile")">忘記密碼</a></label></div>
            </form>
        </div>
        <div class="signup-image">
            <figure><img src="~/Images/Member/signin-image.jpg" alt="sing up image"></figure>
            @*<a href="#" class="signup-image-link">I am already member</a>*@
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/Content/material-design-iconic-font.min.css">
<link rel="stylesheet" href="~/Content/SignUpstyle.css">

@*@section scripts{
        <script>
            //apply ajax:此為現階段測試用，之後會刪除
            var buttonLogin = document.querySelector('#buttonLogin');
            var UserIdInput = document.querySelector('#inputUserId');
            var buttonCancelLogin = document.querySelector('#buttonCancelLogin');
            var myDiv = document.querySelector('#div1');

            var xhr = null;
            UserIdInput.addEventListener("blur", function () {
                xhr = new XMLHttpRequest();
                var formData = new FormData(document.LoginForm);
                xhr.open('POST', '/FrontUserProfile/LoginAjax');
                xhr.send(formData);

                xhr.addEventListener('load', function () {
                    var data = xhr.responseText;
                    myDiv.innerHTML = `<h4 style="font-family: 微軟正黑體">` + data + "</h4>";
                })
            });
                    //buttonLogin.addEventListener("click", function () {
                    //    FormData(document.LoginForm).submit();
                    //});
        </script>

    }*@


