
@{
    ViewBag.Title = "MemberCenter";
}



<div class="row" style="margin-left:100px;margin-top:170px">
    <div class="col-md-3">
        <div class="container">
            <div class="btn-group-vertical">
                <input type="button" value="個人資料" id="detail" class="btn btn-outline-info  btn-lg" />
                <input type="button" value="修改密碼" id="edit" class="btn btn-outline-info  btn-lg" />
                <input type="button" value="修改個人資料" id="editinfo" class="btn btn-outline-info  btn-lg" />
                <input type="button" value="歴史訂單" id="orderlist" class="btn btn-outline-info  btn-lg" />
                <input type="button" value="積分" id="myscore" class="btn btn-outline-info  btn-lg" />
                <input type="button" value="優惠券" id="discount" class="btn btn-outline-info  btn-lg" />
            </div>
        </div>
    </div>
    <div class="col-md-8" id="divbox1"></div>
</div>



@section scripts{
    <script>
        $(function () {
            var url = '@Url.Action("MemberDetail", "FrontUserProfile")'
            $('#divbox1').load(url);
        })
        var detail = document.querySelector('#detail');
        var url = '@Url.Action("MemberDetail", "FrontUserProfile")'
        $('#detail').click(function () {
            window.location.hash = "";
            $('#divbox1').load(url);
        })

        var editurl = '@Url.Action("MemberPasswordEdit", "FrontUserProfile")'
        $('#edit').click(function () {
            window.location.hash = "";
            $('#divbox1').load(editurl);
        })


        var edituserinfo = '@Url.Action("UserEdit", "FrontUserProfile")'
        $('#editinfo').click(function () {
            window.location.hash = "";
            $('#divbox1').load(edituserinfo);
        })

        var myscoreurl = '@Url.Action("MyScore", "FrontUserProfile")'
        $('#myscore').click(function () {
            window.location.hash = "";
            $('#divbox1').load(myscoreurl);
        })

        var mydiscount = '@Url.Action("userDiscountCode", "FrontUserProfile")'
        $('#discount').click(function () {
            window.location.hash = "";
            $('#divbox1').load(mydiscount);
        })




        $('#orderlist').click(function () {
            var page = window.location.hash ? window.location.hash.slice(1) : 1;
            Page(page);
        })

        var Page = function (page) {
            var pageUrl = '@Url.Action("MyOrderList", "FrontUserProfile")';
            $.get(pageUrl, { page: page }, function (data) {
                window.location.hash = page;
                $('#divbox1').html(data);

                $('#divbox1 .pagination li a').each(function (i, item) {
                  var hyperLinkUrl = $(item).attr('href');
                  if (typeof hyperLinkUrl != 'undefined' && hyperLinkUrl != false) {
                      var pageNumber = $(item).attr('href').replace('/FrontUserProfile/MyOrderList?page=', '');
                      $(item).attr('href', '#').click(function(event) {
                          event.preventDefault();
                          $(event.target).attr('href');
                          Page(pageNumber);
                      });
                  }
                });

            })
        }
    </script>
}