@model prjShoppingForum.Models.Entity.tUserProfile

@section Styles{
    <style>
        .col-md-6{
            font-size:large;
        }
/*.container { 
  background: url("/Images/form-wizard-bg.jpg") no-repeat center center;

  background-size: cover;
  display: flex;

  justify-content: center; }*/

    </style>
}

<div class="container">
    <h3>會員基本資料</h3>
    <div class="row">
        <div class="col-md-6" >
            帳號: @Model.fUserId
        </div>
        <div class="col-md-6">
            姓名: @Model.fName
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            性別: @Model.fGender
        </div>
        <div class="col-md-6">
            生日: @Model.fBirthday
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            電話: @Model.fTel
        </div>
        <div class="col-md-6">
            手機: @Model.fPhone
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            城市: @Model.fCity
        </div>
        <div class="col-md-6">
            地址: @Model.fAddress
        </div>
    </div>

</div>



