


<div class="container" style="text-align:left;font-size:18px;">
    <h3><img src="~/Images/Member/membercenter/ginkgo.png" width="30" height="30" /> 修改密碼</h3>
    <hr style="border-bottom:3px solid #CDA0A9;" />
    <label style="color:crimson; font-size:14px">*輸入的新密碼限定6-12字元，英文字大小寫與數字的組合。</label>
    <form action="/FrontUserProfile/MemberPasswordEdit" method="post" name="editform">
        <div class="row" style="text-align:left;width:50%">
            <div class="col-4" style="padding-top:20px">
                <label>原密碼：</label>
            </div>
            <div class="col-8" style="padding-top:20px">
                <input type="password" name="fPassword" id="mChangePassword" pattern="^[a-zA-Z0-9]{6,12}" maxlength="12" required /><span style="font-family: 微軟正黑體; color:lightcoral; font-weight:bold" id="pwdsp_center"></span>
            </div>
        </div>

        <div class="row" style="text-align:left;width:50%">
            <div class="col-4" style="padding-top:20px">
                <label>新密碼：</label>
            </div>
            <div class="col-8" style="padding-top:20px">
                <input type="password" name="newPassword" id="mChangePasswordnew" pattern="^[a-zA-Z0-9]{6,12}" maxlength="12" required /><span style="font-family: 微軟正黑體; color:lightcoral; font-weight:bold" id="pwdspnew"></span>
            </div>
        </div>

        <div class="row" style="text-align:left;width:50%">
            <div class="col-4" style="padding-top:20px">
                <label>確認新密碼：</label>
            </div>
            <div class="col-8" style="padding-top:20px">
                <input type="password" name="checkPassword" id="mChangePasswordchk" pattern="^[a-zA-Z0-9]{6,12}" maxlength="12" required /><span style="font-family: 微軟正黑體; color:lightcoral; font-weight:bold" id="pwdspnewchk"></span>
            </div>
        </div>
        <div style="margin:30px 0 auto 60px;text-align:left;">
            <input type="reset" value="取消" id="buttonCancelLogin" class="btn btn-warning" style="font-size:20px;margin-right:15px" />
            <input type="submit" value="修改" id="buttonLogin" class="btn btn-info" style="font-size:20px" />
        </div>
    </form>
</div>





@section Scripts{
    <script>

        //$('#buttonLogin').addEventListener("click", function () {
        //document.editform.submit();
        //})


        //密碼驗證:密碼強度 (以下的js好像沒效果，但上面的form html5設定有成功，仍可擋住錯誤密碼輸入的submit)
        document.querySelector("#mChangePassword").onblur = checkPwd;

        function checkPwd() {
            var thePwd = document.getElementById("mChangePassword").value;
            var thesp = document.getElementById("pwdsp_center");
            thePwdLen = thePwd.length;
            var flag1 = false, flag2 = false;

            if (thePwd == "")
                thesp.innerHTML = `<img src="@Url.Content("/Images/Member/error.png")" />密碼不得為空白`;
            else if (thePwdLen >= 6) {
                for (var i = 0; i < thePwdLen; i++) {
                    var Pwdch = thePwd.charCodeAt(i);

                    if ((Pwdch >= 97 && Pwdch <= 122) || (Pwdch >= 65 && Pwdch <= 90)) flag1 = true;
                    else if (Pwdch >= 48 && Pwdch <= 57) flag2 = true;

                    if (flag1 && flag2) thesp.innerHTML = `<img src="@Url.Content("/Images/Member/correct.png")" />correct`;
                    else if (!flag1) thesp.innerHTML = `<img src="@Url.Content("/Images/Member/error.png")" />必須包含英文字母`;
                    else if (!flag2) thesp.innerHTML = `<img src="@Url.Content("/Images/Member/error.png")" />必須包含數字`;
                };
            } else
                thesp.innerHTML = `<img src="@Url.Content("/Images/Member/error.png")" />密碼長度必須大於6`;
        }

    </script>
}
