    


    @*<div class="container">*@
        <h3>修改密碼</h3>
       <label style="color:crimson; font-size:small">*輸入的新密碼限定6-12字元，英文字大小寫與數字的組合。</label>
        <form action="/FrontUserProfile/MemberPasswordEdit" method="post" name="editform">

                <div class="col-md-6">
                         <label>原密碼：</label> <input type="password" name="fPassword" id="mChangePassword" pattern="^[a-zA-Z0-9]{6,12}" maxlength="12" required /><span style="font-family: 微軟正黑體; color:lightcoral; font-weight:bold" id="pwdsp_center"></span>
                </div>
                <div class="col-md-6">
                        <label>新密碼：</label><input type="password" name="newPassword" id="mChangePasswordnew" pattern="^[a-zA-Z0-9]{6,12}" maxlength="12" required /><span style="font-family: 微軟正黑體; color:lightcoral; font-weight:bold" id="pwdspnew"></span>
                </div>

                <div class="col-md-6">
                        <label>再次確認新密碼：</label><input type="password" name="checkPassword" id="mChangePasswordchk" pattern="^[a-zA-Z0-9]{6,12}" maxlength="12" required /><span style="font-family: 微軟正黑體; color:lightcoral; font-weight:bold" id="pwdspnewchk"></span>
                </div>

                 <div style=" width:450px; margin:20px; ">
                    <input type="submit" value="確認修改" id="buttonLogin" class="btn btn-warning" />
                    <input type="button" value="取消" id="buttonCancelLogin" class="btn btn-warning" />
                </div>
        </form>
    @*</div>*@



@section Scripts{
    <script>

        //$('#buttonLogin').addEventListener("click", function () {
        //document.editform.submit();
        //})


        //密碼驗證:密碼強度 (以下的js好像沒效果，但上面的form html5設定有成功，仍可擋住錯誤密碼輸入的submit)
        document.querySelector("#mChangePassword").onblur = checkPwd;

        function checkPwd() {
            var thePwd = document.getElementById("mChangePassword").value;
            var thesp = document.getElementById("pwdsp_center");
            thePwdLen = thePwd.length;
            var flag1 = false, flag2 = false;

            if (thePwd == "")
                thesp.innerHTML = `<img src="@Url.Content("/Images/Member/error.png")" />密碼不得為空白`;
            else if (thePwdLen >= 6) {
                for (var i = 0; i < thePwdLen; i++) {
                    var Pwdch = thePwd.charCodeAt(i);

                    if ((Pwdch >= 97 && Pwdch <= 122) || (Pwdch >= 65 && Pwdch <= 90)) flag1 = true;
                    else if (Pwdch >= 48 && Pwdch <= 57) flag2 = true;

                    if (flag1 && flag2) thesp.innerHTML = `<img src="@Url.Content("/Images/Member/correct.png")" />correct`;
                    else if (!flag1) thesp.innerHTML = `<img src="@Url.Content("/Images/Member/error.png")" />必須包含英文字母`;
                    else if (!flag2) thesp.innerHTML = `<img src="@Url.Content("/Images/Member/error.png")" />必須包含數字`;
                };
            } else
                thesp.innerHTML = `<img src="@Url.Content("/Images/Member/error.png")" />密碼長度必須大於6`;
        }

    </script>
}
