
@{
    ViewBag.Title = "MemberCenter";
}

@*<h2>會員中心</h2>*@

<div class="row" style="margin-left:30px">
    <div class="col-md-3">
        <div class="container">
            <div class="btn-group-vertical">
                <input type="button" value="個人資料" id="detail" class="btn btn-outline-info  btn-lg" />
                <input type="button" value="修改密碼" id="edit" class="btn btn-outline-info  btn-lg" />
                <input type="button" value="修改個人資料" id="editinfo" class="btn btn-outline-info  btn-lg" />
                <input type="button" value="歷史訂單" id="orderlist" class="btn btn-outline-info  btn-lg" />
                <input type="button" value="積分" id="myscore" class="btn btn-outline-info  btn-lg" />
                <input type="button" value="優惠券" id="discount" class="btn btn-outline-info  btn-lg" />

            </div>
        </div>
    </div>
    <div class="col-md-8" id="divbox1"></div>
</div>



@section scripts{
    <script>
        $(function () {
            var url = '@Url.Action("MemberDetail", "FrontUserProfile")'
            $('#divbox1').load(url);
        })
        var detail = document.querySelector('#detail');
        var url = '@Url.Action("MemberDetail", "FrontUserProfile")'
        $('#detail').click(function () {
            $('#divbox1').load(url);
        })

        var orderurl = '@Url.Action("MyOrderList", "FrontUserProfile")'
        $('#orderlist').click(function () {
            $('#divbox1').load(orderurl);
        })

        var editurl = '@Url.Action("MemberPasswordEdit", "FrontUserProfile")'
        $('#edit').click(function () {
            $('#divbox1').load(editurl);
        })


        var edituserinfo = '@Url.Action("UserEdit", "FrontUserProfile")'
        $('#editinfo').click(function () {
            $('#divbox1').load(edituserinfo);
        })

        var myscoreurl = '@Url.Action("MyScore", "FrontUserProfile")'
        $('#myscore').click(function () {
            $('#divbox1').load(myscoreurl);
        })

        var mydiscount = '@Url.Action("userDiscountCode", "FrontUserProfile")'
        $('#discount').click(function () {
            $('#divbox1').load(mydiscount);
        })
    </script>
}