@model prjShoppingForum.Models.Entity.tUserProfile

@{
    ViewBag.Title = "New";

}

<h2>會員註冊</h2>
<hr />
<form action="/FrontUserProfile/New" method="post" name="LoginForm">
    <fieldset style="width: 500px; border: 1px solid lightseagreen; margin: 15px; border-radius: 15px">
        <p style="font-size:12px; color:crimson; font-weight:bold; text-align:center" >*為必填欄位</p>

        <div style="width: 450px; border-bottom: 2px solid #F0F0F0; margin:25px; padding-left:85px; padding-bottom:10px;">
            <label style="color:crimson">*</label><label>帳號：</label>
            <input type="text" name="fUserId" class="radiusborder" placeholder="請輸入Email" id="inputUserId" />
            <span id="useridsp"></span><br />

            <label style="color:crimson">*</label><label>密碼：</label>
            <input type="password" name="fPassword" id="inputPassword" />
            <span id="pwdsp"></span><br/>
            <span style="font-size:13px; color:lightseagreen; font-family:微軟正黑體; font-weight:bold">(密碼至少6個字且必須包含字母、數字與特殊字元)</span><br />

            <label style="color:crimson">*</label><label>姓名：</label>
            <input type="text" name="fName" id="inputUserName" /><br />

            <label style="color:crimson">*</label><label>性別：</label>
            <input type="radio" name="fGender" value="male" id="m1" /><label for="m1">男</label>
            <label>
                <input type="radio" name="fGender" value="female" />女
            </label><br />

            <label style="color:crimson">*</label><label>生日：</label>
            <input type="text" name="fBirthday" placeholder="e.g.:2020/02/09" /><br />

            &nbsp&nbsp<label>電話：</label>
            <input type="text" name="fTel" /><br />

            <label style="color:crimson">*</label><label>手機：</label>
            <input type="text" name="fPhone" /><br />

            <label style="color:crimson">*</label><label>城市：</label>
            <input type="text" name="fCity" /><br />

            <label style="color:crimson">*</label><label>地址：</label>
            <input type="text" name="fAddress" /><br />

        </div>
        <div style=" width:450px; margin:20px; text-align:center;">
            <input type="button" name="userSignUp" value="註冊" class="btn btn-warning" />
            <input type="reset" value="取消" class="btn btn-warning" />
        </div>
    </fieldset>
</form>

@section Scripts{
    <script>
        var btnCreateUser = document.querySelector('input[name="userSignUp"]');
        var xhr = null;
        btnCreateUser.addEventListener("click", function () {
        document.LoginForm.submit();
        })

        //登入驗證(尚未完成0219)
        //1.帳號驗證--是否已存在
        var UserIdInput = document.querySelector('#inputUserId');
        var myDiv = document.querySelector('#useridsp');

        var xhr = null;
        UserIdInput.addEventListener("blur", function () {
            xhr = new XMLHttpRequest();
            var formData = new FormData(document.LoginForm);
            xhr.open('POST', '/FrontUserProfile/NewUserAjax');
            xhr.send(formData);

            xhr.addEventListener('load', function () {
                var data = xhr.responseText;
                myDiv.innerHTML = `<h4 style="font-family: 微軟正黑體">` + data + "</h4>";
            })
        });


        //2.密碼驗證:密碼強度
        document.querySelector("#inputPassword").onblur = checkPwd;

        function checkPwd() {
            var thePwd = document.getElementById("inputPassword").value;
            var thesp = document.getElementById("pwdsp");
            thePwdLen = thePwd.length;
            var flag1 = false, flag2 = false;

            if (thePwd == "")
                thesp.innerHTML = `<img src="@Url.Content("/Images/Member/error.png")" />密碼不得為空白`;
            else if (thePwdLen >= 6) {
                for (var i = 0; i < thePwdLen; i++) {
                    var Pwdch = thePwd.charCodeAt(i);

                        if ((Pwdch >= 97 && Pwdch <= 122) || (Pwdch >= 65 && Pwdch <= 90)) flag1 = true;
                        else if (Pwdch >= 48 && Pwdch <= 57) flag2 = true;

                    if (flag1 && flag2) thesp.innerHTML = `<img src="@Url.Content("/Images/Member/correct.png")" />correct`;
                    else if (!flag1) thesp.innerHTML = `<img src="@Url.Content("/Images/Member/error.png")" />必須包含英文字母`;
                    else if (!flag2) thesp.innerHTML = `<img src="@Url.Content("/Images/Member/error.png")" />必須包含數字`;
                };
            } else
                thesp.innerHTML = `<img src="@Url.Content("/Images/Member/error.png")" />密碼長度必須大於6`;
        }
        

    </script>
}