@model prjShoppingForum.Models.Entity.tUserProfile

@{
    ViewBag.Title = "New";

}


<div class="containers">
    <div class="signup-content" >
        <div class="signup-form">
            <h2 class="form-title">Register</h2>
            <form action="/FrontUserProfile/New" method="post" name="LoginForm" class="register-form" id="register-form" onsubmit="return oncheck()">

                <div class="form-group">
                    <label for="email"></label>
                    <input type="email" name="fUserId" id="inputUserId" placeholder="Your Email as Account" required/><span style="font-family: 微軟正黑體" id="useridsp"></span>
                </div>
                @Html.ValidationMessageFor(model => model.fUserId, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label for="name"></label>
                    <input type="text" name="fName" id="name" placeholder="Your Name" required/><span style="font-family: 微軟正黑體;  color:lightcoral; font-weight:bold" id="namesp"></span>
                </div>
                @Html.ValidationMessageFor(model => model.fName, "", new { @class = "text-danger" })


                <div class="form-group">
                    <label for="pass"></label>
                    <input type="password" name="fPassword" id="inputPassword" placeholder="Password(6~8字元以內，包含英文大小寫與數字的組合)" @*data-minlength="6"*@ pattern="^[a-zA-Z0-9]{6,12}" maxlength="12" required/><span style="font-family: 微軟正黑體;  color:lightcoral; font-weight:bold" id="pwdsp"></span>
                </div>
                @Html.ValidationMessageFor(model => model.fPassword, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label for="re-pass"></label>
                    <input type="text" name="fGender" id="Gender" placeholder="Gender" required/>
                </div>
                @Html.ValidationMessageFor(model => model.fGender, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label for="re-pass"></label>
                    <input type="text" name="fPhone" id="Phone" placeholder="Phone" maxlength="10" pattern="[0-9]*" required/><span style="font-family: 微軟正黑體; color:lightcoral; font-weight:bold" id="phonesp"></span>
                </div>
                @Html.ValidationMessageFor(model => model.fPhone, "", new { @class = "text-danger" })


                <div class="form-group form-button">
                    <input type="button" name="userSignUp" id="signup" class="form-submit" value="註冊" @*onclick="return check()"*@/>
                    <input type="reset"  class="form-submit" value="取消" />
                </div>
            </form>
        </div>

        <div class="signup-image">
            <figure><img src="~/Images/Member/signup-image.jpg" alt="sing up image"></figure>
            @*<a href="#" class="signup-image-link">I am already member</a>*@
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/Content/material-design-iconic-font.min.css">
<link rel="stylesheet" href="~/Content/SignUpstyle.css">


@section Scripts{
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script>

     
        //$(document).ready(){
        //    check()
        //}

        function check() {
            if (document.LoginForm.fUserId.value == '') {
                alert("帳號未填");
                document.LoginForm.fUserId.focus();
                return false;
                //break;
            }
            if (document.LoginForm.fName.value == '') {
                alert("姓名未填");
                document.LoginForm.fName.focus();
                return false;
                //break;
            }
            if (document.LoginForm.fPassword.value == '') {
                alert("密碼未填");
                document.LoginForm.fPassword.focus();
                return false;
                //break;
            }
            if (document.LoginForm.fGender.value == '') {
                alert("性別未填");
                document.LoginForm.fGender.focus();
                return false;
                //break;
            }
            if (document.LoginForm.fPhone.value == '') {
                alert("手機未填");
                document.LoginForm.fPhone.focus();
                
                return false;
                //break;

            }
            return true;
        }


        var btnCreateUser = document.querySelector('input[name="userSignUp"]');
        var xhr = null;
        btnCreateUser.addEventListener("click", function () {
            //check();
            document.LoginForm.submit();
        })

        //1.帳號驗證--是否已存在
        var UserIdInput = document.querySelector('#inputUserId');
        var myDiv = document.querySelector('#useridsp');

        var xhr = null;
        UserIdInput.addEventListener("blur", function () {
            xhr = new XMLHttpRequest();
            var formData = new FormData(document.LoginForm);
            xhr.open('POST', '/FrontUserProfile/NewUserAjax');
            xhr.send(formData);

            xhr.addEventListener('load', function () {
                var data = xhr.responseText;
                myDiv.innerHTML = `<h6 style="font-family: 微軟正黑體; color:lightcoral">` + data + "</h6>";
            })
        });
        

        //2.密碼驗證:密碼強度
        document.querySelector("#inputPassword").onblur = checkPwd;

        function checkPwd() {
            var thePwd = document.getElementById("inputPassword").value;
            var thesp = document.getElementById("pwdsp");
            thePwdLen = thePwd.length;
            var flag1 = false, flag2 = false;

            if (thePwd == "")
                thesp.innerHTML = `<img src="@Url.Content("/Images/Member/error.png")" />密碼不得為空白`;
            else if (thePwdLen >= 6) {
                for (var i = 0; i < thePwdLen; i++) {
                    var Pwdch = thePwd.charCodeAt(i);

                    if ((Pwdch >= 97 && Pwdch <= 122) || (Pwdch >= 65 && Pwdch <= 90)) flag1 = true;
                    else if (Pwdch >= 48 && Pwdch <= 57) flag2 = true;

                    if (flag1 && flag2) thesp.innerHTML = `<img src="@Url.Content("/Images/Member/correct.png")" />correct`;
                    else if (!flag1) thesp.innerHTML = `<img src="@Url.Content("/Images/Member/error.png")" />必須包含英文字母`;
                    else if (!flag2) thesp.innerHTML = `<img src="@Url.Content("/Images/Member/error.png")" />必須包含數字`;
                };
            } else
                thesp.innerHTML = `<img src="@Url.Content("/Images/Member/error.png")" />密碼長度必須大於6`;
        }


    </script>
}
