@model prjShoppingForum.Models.Entity.tUserProfile
@{
    ViewBag.Title = "UserEdit";
    var dates = "";
    if (Model.fBirthday != null)
    {
        dates = ((DateTime)Model.fBirthday).ToString("yyyy/MM/dd");
    }
}
<div class="container" style="text-align:left;font-size:18px;">
    <h3><img src="~/Images/Member/membercenter/sakura.png" width="30" height="30" /> 編輯會員資料</h3>
    <hr style="border-bottom:3px solid #CDA0A9;" />
    <form action="/FrontUserProfile/UserEdit" method="post" name="editform">
        <div class="row" style="padding-top:15px">
            <div class="col-md-2 col-lg-1">
                帳號:
            </div>
            <div class="col-md-4 col-lg-5">
                @Model.fUserId
            </div>
            <div class="col-md-2 col-lg-1">
                姓名:
            </div>
            <div class="col-md-4 col-lg-5">
                <input type="text" name="fName" value="@Model.fName" />
            </div>
        </div>
        <div class="row" style="padding-top:30px">
            <div class="col-md-2 col-lg-1">
                生日:
            </div>
            <div class="col-md-4 col-lg-5">
                <input type="text" name="fBirthday" pattern="{0:yyyy/MM/dd}" placeholder="如:1923/02/05" value="@dates" />
            </div>
            <div class="col-md-2 col-lg-1">
                城市:
            </div>
            <div class="col-md-4 col-lg-5">
                <input type="text" name="fCity" value="@Model.fCity" />
            </div>
        </div>
        <div class="row" style="padding-top:30px">
            <div class="col-md-2 col-lg-1">
                電話:
            </div>
            <div class="col-md-4 col-lg-5">
                <input type="text" name="fTel" value="@Model.fTel" />
            </div>
            <div class="col-md-2 col-lg-1">
                手機:
            </div>
            <div class="col-md-4 col-lg-5">
                <input type="text" name="fPhone" value="@Model.fPhone" />
            </div>
        </div>
        <div class="row" style="padding-top:30px">
            <div class="col-md-2 col-lg-1">
                地址:
            </div>
            <div class="col-md-10 col-lg-11">
                <input type="text" name="fAddress" value="@Model.fAddress" style="width:680px" />
            </div>
        </div>

        <div style="margin:40px 0 auto 60px;text-align:left;">
            <input type="reset" value="取消" id="buttonCancelLogin" class="btn btn-warning" style="font-size:20px;margin-right:15px" />
            <input type="submit" value="確認" id="buttonLogin" name="editbutton" class="btn btn-info" style="font-size:20px" />
        </div>
    </form>
</div>

