@model List<prjShoppingForum.Models.Entity.tDiscount>

@{
    string discountCategory;
}

<h2>優惠券列表</h2>

<br />

<h3>優惠券</h3>
<table class="table table-dark" style="width:100%">
    <thead>
        <tr>
            <th>優惠券名稱</th>
            <th>優惠種類</th>
            <th>最低金額</th>
            <th>優惠內容</th>
            <th>有效起日</th>
            <th>有效迄日</th>
            <th>剩餘數量</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr data-discountCode=@item.fDiscountCode>
                    <td>
                        @item.fDiscountName
                    </td>

                    @{
                        switch (item.fDiscountCategory)
                        {
                            case "P":
                                <td>折扣%</td>
                                break;
                            case "C":
                                <td>折扣金</td>
                                break;
                        }
                    }

                    <td>@item.fMoneyLimit</td>
                    <td>@item.fDiscountContent</td>
                    <td>@item.fStartdate</td>
                    <td>@item.fEndDate</td>
                    <td>@item.fCount</td>
                    <td>
                        <button class="discountEdit">編輯</button>
                        <button class="discountDisabled">下架</button>
                    </td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>

<br />
<br />

<h3>優惠券-已失效</h3>
@Html.Action("DisableDiscount", "AdminLTE")


@section Scripts{
    <script>
        $('.discountDisabled').click(function () {
            let discountCode = $(this).parent().parent().attr('data-discountCode')

            $.post(
                '@Url.Action("DiscountToDisable","AdminLTE")',
                {
                    discountCode: discountCode
                }, function (res) {
                    if (res == 'True') {
                        alert("下架優惠券成功")
                    } else {
                        alert("下架優惠券失敗")
                    }
                    document.location.href = window.location.href;
                }
            )
        })
    </script>

    <script>
        $('.discountEnable').click(function () {
            let discountCode = $(this).parent().parent().attr('data-discountCode')

            $.post(
                '@Url.Action("DiscountToEnable", "AdminLTE")',
                {
                    discountCode: discountCode
                }, function (res) {
                    if (res == 'True') {
                        alert("上架優惠券成功")
                    } else {
                        alert("上架優惠券失敗")
                    }
                    document.location.href = window.location.href;
                }
            )
        })
    </script>
}