@using PagedList;
@using PagedList.Mvc;
@model IPagedList<prjShoppingForum.Models.Entity.tForum>
@{
    ViewBag.Title = "PostListAll";
}

@section Styles{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}
<div class="d-flex p-2 ">
    <h2>文章停權/恢復權限</h2>
</div>
<div class="d-flex p-2">
    @Html.PagedListPager(Model, page => Url.Action("PostListAll", new { page }))
</div>
<div class="d-flex p-2 bd-highlight">
    <table class="table" style="width:100%">
        <thead style="background-color:#524087 ;color:aliceblue">
            <tr>
                <th>文章序號</th>
                <th>文章標題</th>
                <th>停權</th>
                <th>作者</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.fPostId
                        </td>
                        <td>
                            @item.fPostTitle
                        </td>
                        <td>
                            @{
                                if (item.fEnableFlag == true)
                                {
                                    <button class="btn btn-danger btn-action" data-action="false" data-postId="@item.fPostId">停用</button>
                                }
                                else
                                {
                                    <button class="btn btn-primary btn-action" data-action="ture" data-postId="@item.fPostId">啟用</button>
                                }
                            }
                        </td>
                        <td>
                            @item.tUserProfile.fName
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>



@section Scripts{
    <script>
        $(document).on('click', '.btn-action', function () {
            let thisBtn = $(this);
            let pid = $(this).attr('data-postId');
            let actionName = $(this).attr('data-action');

            $.post(
                '@Url.Action("ActionToEnableOrNot", "AdminLTE")',
                {
                    pid: pid,
                    actionName: actionName

                }, function (response) {

                    if (actionName == 'false') {
                        thisBtn.removeClass('btn-danger').addClass('btn-primary');
                        thisBtn.text('啟用');
                        thisBtn.attr('data-action', 'true');
                    } else {
                        thisBtn.removeClass('btn-primary').addClass('btn-danger');
                        thisBtn.text('停用');
                        thisBtn.attr('data-action', 'false');
                    }

                }
            )
        })
    </script>



}
