@using PagedList
@using PagedList.Mvc

@model IPagedList<prjShoppingForum.Models.Entity.tQuestion>

<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="d-flex p-2 ">

    <h2>天天答題題目列表</h2>
</div>
<div class="d-flex p-2 ">
    @using (Html.BeginForm())
    {
        <span>
            搜尋:
        </span>
        @Html.TextBox("SearchKey", "");
        <button class="btn btn-navbar" type="submit" value="搜尋">
            <i class="fas fa-search"></i>
        </button>
    }
</div>
<h5>@ViewBag.Message</h5>
<div class="d-flex p-2 justify-content-between align-items-center">
    @Html.PagedListPager(Model, page => Url.Action("QuizList", new { page }))
    @Html.ActionLink("新增題目", "QuizCreate", "AdminLTE", new { }, new { @class = "btn btn-outline-primary" })
</div>
<div class="d-flex p-2 bd-highlight">
    <table class="table">
        <thead style="background-color:#524087 ;color:aliceblue">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().fQuestionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().fQuestion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().fAnswer)
                </th>

                <th>
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fQuestionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fQuestion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fAnswer)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "QuizEdit", "AdminLTE", new { id = item.fQuestionId }, new { @class = "btn btn-info" }) |
                        @Html.ActionLink("明細", "QuizDetails", "AdminLTE", new { id = item.fQuestionId }, new { @class = "btn btn-success" }) |
                        @Html.ActionLink("刪除", "QuizDelete","AdminLTE", new { id = item.fQuestionId }
                        , new { onclick = "return confirm('確定要刪除?');", @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
