@using PagedList
@using PagedList.Mvc

@model IPagedList<prjShoppingForum.Models.Entity.tTest>

<link href="~/Content/PagedList.css" rel="stylesheet" />


<h2>測驗歷史紀錄</h2>

@using (Html.BeginForm())
{
    <span>
        搜尋:
    </span>
    @Html.TextBox("SearchKey", "");
    <button class="btn btn-navbar" type="submit" value="搜尋">
        <i class="fas fa-search"></i>
    </button>
}
<h5>@ViewBag.Message</h5>
<hr />
<div style="text-align:right">
    <p>
        @Html.ActionLink("新增測驗", "TestCreate", new { }, new { @class = "btn btn-outline-primary" })
    </p>
</div>

<table class="table">
    <thead style="background-color:#524087 ;color:aliceblue">
        <tr>
            <th>
                編號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().tUserProfile.fName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().tQuestion.fQuestionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().fScoreDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().fQuestionScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().fTestDiscontinue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tUserProfile.fId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tUserProfile.fName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tQuestion.fQuestionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fScoreDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fQuestionScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fTestDiscontinue)
                </td>
                <td>
                    @Html.ActionLink("編輯", "TestEdit", new { id = item.fTestId }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("明細", "TestDetails", new { id = item.fTestId }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("下架", "TestDelete", new { id = item.fTestId }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.PagedListPager(Model, page => Url.Action("TestList", new { page }))
</div>

