@using PagedList
@using PagedList.Mvc

@model IPagedList<prjShoppingForum.Models.Entity.tTest>

<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="d-flex p-2 ">

    <h2>測驗歷史紀錄</h2>
</div>
<div class="d-flex p-2 ">
    @using (Html.BeginForm())
    {
        <span>
            搜尋:
        </span>
        @Html.TextBox("SearchKey","",null,new { placeholder="請輸入姓名" });
        <button class="btn btn-navbar" type="submit" value="搜尋">
            <i class="fas fa-search"></i>
        </button>
    }
    </div>
    <h5>@ViewBag.Message</h5>
    <div class="d-flex p-2">
        @Html.PagedListPager(Model, page => Url.Action("TestList", new { page }))
        @*@Html.ActionLink("新增測驗", "TestCreate", new { }, new { @class = "btn btn-outline-primary" })*@
    </div>
    <div class="d-flex p-2 bd-highlight">
        <table class="table">
            <thead style="background-color:#524087 ;color:aliceblue">
                <tr>
                    <th>
                        編號
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().tUserProfile.fName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().tQuestion.fQuestionName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().fScoreDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().fQuestionScore)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().fTestDiscontinue)
                    </th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.tUserProfile.fId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tUserProfile.fName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tQuestion.fQuestionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fScoreDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fQuestionScore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fTestDiscontinue)
                        </td>
                        <td>
                            @*@Html.ActionLink("編輯", "TestEdit", "AdminLTE", new { id = item.fTestId }, new { @class = "btn btn-info" }) |*@
                            @Html.ActionLink("明細", "TestDetails", "AdminLTE", new { id = item.fTestId }, new { @class = "btn btn-success" }) 
                            @*@Html.ActionLink("下架", "TestDelete", "AdminLTE", new { id = item.fTestId }
                            , new { onclick = "return confirm('確定要下架?');", @class = "btn btn-warning" })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

