@model prjShoppingForum.Models.Entity.tQuestion

@{
    ViewBag.Title = "Content";
}
<style>
    .top {
        position: relative;
        left: 150px;
    }

    .img11 {
        /*position: relative;*/
        /*left: 400px;*/
    }

    .box {
        /*position: absolute;*/
        /*top: 84vh;*/
        /*right: 600px;*/
        border: 2px solid #418066;
        width: 350px;
        border-radius: 15px;
        padding: 20px;
    }

    .t1 {
        background-color: #faf472;
        /*background-color: #858188;*/
    }

    .btn {
        text-align: right;
    }

    .gameRule {
        text-align: center;
        margin-top: 30px;
    }

    .gameRule li {
        list-style-type: disc !important;
    }
    li p {
        color:blue;
        font-size:16px;
    }
</style>


<div class="content" style="margin:170px auto;text-align:center;width:80%">
    <div style="margin-bottom:60px">
        <img src="~/Images/News/qquiz.png" />
    </div>
    <div class="row">
        <div class="col-3">
            <ul class="gameRule" style="text-align:left;">
                <h3>--遊戲規則--</h3>
                <br />
                <li><p>毎日可作答一次，不可重複答題</p></li>
                <li><p>答對可獲得100積分</p></li>
                <li><p>積分可折抵部分購物金額</p></li>
            </ul>
        </div>

        <div class="col-9 box">

            @using (Html.BeginForm("", "", FormMethod.Post, new { id = "questionForm", @class = "row justify-content-center" }))
            {
                <div class="col-4">

                    <div class="font-bold" style="font-size:18px">
                        <span class="t1" style="margin-right:5px;font-size:20px"> 題目  </span>
                        @Html.DisplayFor(model => model.fQuestionName)
                    </div>
                    <br />
                    <div class="text-left">
                        <span> 請問   :</span>
                        @Html.DisplayFor(model => model.fQuestion)
                    </div>
                    <br />
                    <div class="text-left" style="font-size:18px;">
                        @Html.RadioButton("RadioButton1", "A", false) <span>A選項:@Model.fItemA</span> <br />
                        @Html.RadioButton("RadioButton1", "B", false) <span>B選項:@Model.fItemB</span> <br />
                        @Html.RadioButton("RadioButton1", "C", false) <span>C選項:@Model.fItemC</span> <br />
                        @Html.RadioButton("RadioButton1", "D", false) <span>D選項:@Model.fItemD</span> <br />
                        @Html.RadioButton("RadioButton1", "E", false) <span>E選項:@Model.fItemE</span> <br />
                    </div>
                    <br />
                    <div class="btn">
                        @{
                            if (ViewBag.Quizstatus == null)
                            {
                                <input type="button" id="submitAnswer" value="送出" class="btn btn-primary" />
                            }
                            else
                            {
                                <input type="button" id="beAnswered" value="已答題明日再來" class="btn btn-outline-primary" />
                            }
                        }
                    </div>
                    <div>
                        @Html.HiddenFor(model => model.fQuestionId)
                        @Html.HiddenFor(model => model.tTests)
                        @Html.HiddenFor(model => model.fAnswer)
                    </div>
                </div>
            }
            @{ 
                if (ViewBag.Quizstatus != null)
                {
                    <div class="row" style="margin:auto;font-size:22px">
                        <div style="color:red;margin:auto" >
                            <span> 解答   :</span>
                            <span style="color:red">@ViewBag.Answer</span>
                        </div>
                    </div>
                }
            }
        </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="scoreModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">你的積分</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="scoreArea">

            </div>
            <div class="modal-footer">
                <button type="button" id="redirect" class="btn btn-primary">確定</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#submitAnswer").on("click", function () {

                $.post('/Questions/Content', $('#questionForm').serialize(), function (result) {

                    $("#scoreArea").html(result);
                    $("#scoreModal").modal("toggle");

                    $("#submitAnswer").hide();
                    $("#beAnswered").show();
                });

                $("#redirect").on("click", function () {
                    window.open("../../home/index", "_self");
                })
            })
        });

    </script>
}
