

@model prjShoppingForum.Models.Entity.tForum

@{
    ViewBag.Title = "Edit";
    string result = WebUtility.HtmlDecode(Model.fPostContent);
    string jsonContent = Model.fPostContent;
}

@section Styles{
    <style>
        .content {
            width: 900px;
            margin: 150px auto auto auto
        }
        .PostContent {
            width: 800px;
            height: auto;
            margin: 20px auto auto auto;
        }

        .PostContentInner {
            width: 800px;
            margin: auto;
        }

        #editorForEdit {
            min-height: 500px;
        }
        .borderline {
            border: solid 3px #9c577d !important;
            border-radius: 20px;
            padding: 20px;
        }
    </style>
}
    <div class="content  borderline">
        <div class="PostContent">
            <h4>編輯文章</h4>
            <div class="PostContentInner">
                標題：<br />
                <input type="text" name="postTitle" value="@Model.fPostTitle" id="postTitleForEdit" />
                <br />
                <br />
                內文：<br />
                <div id="editorForEdit">
                </div>
                <button type="button" class="btn btn-info" id="confirmEdit" style="margin-top:15px">修改完畢</button>
            </div>
        </div>
    </div>
        @section Scripts{
            <script>
        let toolbarOptionsForEdit = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],
            [{ 'list': 'bullet' }, { 'list': 'ordered' }],
            [{ 'script': 'super' }, { 'script': 'sub' }],      // superscript/subscript
            [{ 'direction': 'rtl' }],                         // text direction
            [{ 'indent': '+1' }, { 'indent': '-1' }],          // outdent/indent
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],
            ['image', 'video'],
            ['clean']                                         // remove formatting button
        ];

        //文章的區塊，只能讀取，不能修改，設定readonly，且工具列是null
        let quillPost = new Quill('#editorForEdit', {
            modules: {
                toolbar: toolbarOptionsForEdit
            },
            theme: 'snow'
        });

        //jsonContent轉換為json物件，透過quill方法，呈現在quill-editor區塊
        let content = @Html.Raw(jsonContent);
        console.log(content);
        quillPost.setContents(content);
            </script>

            <script>
        $("#confirmEdit").click(function () {
            //取得修改後文章內容
            let title = $("#postTitleForEdit").val();
            let content = JSON.stringify(quillPost.getContents());

            $.post(
                '@Url.Action("Edit", "Forum")',
                {
                    postId: @Model.fPostId,
                    title: title,
                    content: content
                }, function (res) {
                    $(window).attr('location', '@Url.Action("List","Forum")');
                }
            )
        })

            </script>
        }


