@model List<tw.com.essentialoil.Forum.ViewModels.CForumList>

@{
    ViewBag.Title = "List";
    int lastPostId = 0;
    if (Model.ToList().Count > 0)
    {
        lastPostId = Model.Max(p => p.postId);
    };

}

<div style="margin:20px auto">
    <div>
        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
                發表文章
            </button>*@

        @* From Bootstrap Example *@
        @* -------------------------------------------------------------------------------------------------- *@
        @* -------------------------------------------------------------------------------------------------- *@
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">編輯文章</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    @* 標題區塊 *@
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">標題</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="請輸入標題" id="postTitle">
                    </div>

                    @* 編輯文章區塊 *@
                    <div class="modal-body" id="editor">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">離開</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmPost">確認發佈</button>
                    </div>
                </div>
            </div>
        </div>

        @* 紀錄上一筆的ajax時間，用來計算每次ajax的差異，不用每次全抓資料 *@
        <div id="prevGetTime" style="display:none;">@ViewBag.DateTime</div>
    </div>
</div>

@Html.Action("TopList")

<table class="table table-striped table-mainlist">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-postid="@item.postId">
                    @Html.ActionLink(item.postTitle, "PostView", new { fPostId = item.postId })
                    <br />
                    @{
                        switch (item.likeOrHate)
                        {
                            case null:
                                <button class="btn btn-primary btn-like">喜歡</button>
                                <button class="btn btn-primary btn-hate">討厭</button>
                                break;

                            case "True":
                                <button class="btn btn-primary btn-like" disabled="disabled">喜歡</button>
                                <button class="btn btn-primary btn-hate">討厭</button>
                                break;

                            case "False":
                                <button class="btn btn-primary btn-like">喜歡</button>
                                <button class="btn btn-primary btn-hate" disabled="disabled">討厭</button>
                                break;
                        }

                    }
                    <button class="btn btn-primary btn-favorite">收藏</button>
                    <button class="btn btn-primary btn-hide">隱藏</button>
                    @{
                        if (item.userFid == ViewBag.sessionId)
                        {
                            <button class="btn btn-danger">@Html.ActionLink("編輯", "Edit", new { fPostId = item.postId })</button>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        //注意!! EventHandle.Edit 有修改，這邊也要做確認，避免兩邊IDmapping錯誤

        //建立Quill文章編輯器
        let toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],
            [{ 'list': 'bullet' }, { 'list': 'ordered' }],
            [{ 'script': 'super' }, { 'script': 'sub' }],      // superscript/subscript
            [{ 'direction': 'rtl' }],                         // text direction
            [{ 'indent': '+1' }, { 'indent': '-1' }],          // outdent/indent
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],
            ['image', 'video'],
            ['clean']                                         // remove formatting button
        ];

        //ID選擇器：#editor <- 注意!
        let quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            placeholder: '請輸入文章內容',
            theme: 'snow'
        });

        //確認發佈的click事件，註冊ajax事件
        $('#confirmPost').on('click', function () {
                            //1. 取得文章的json內容
                            let content = JSON.stringify(quill.getContents());
                            let title = $("#postTitle").val();

            $.post(
                '@Url.Action("Create","Forum")',
                {
                            title: title,
                    content: content
                },
                function (response) {
                                console.log(response);
                            }
            )
        })

        //設定定時觸發的ajax，獲得最新文章的資料()
        function refreshPostList() {
                            //取得前一次的畫面內容時間，用來判斷那些文章有被異動過
                            let prevDateTime = $("#prevGetTime").text();
                            let lastPostId = @lastPostId;

            $.get(
                '@Url.Action("RefreshList","Forum")',
                {
                            lastPostId: lastPostId,
                    prevDtaetime: prevDateTime
                },
                function (responseDatas) {
                    //先更新ajax的info欄位
                    $("#prevGetTime").text(responseDatas.newTime);


                    //判斷是否有新增的文章
                    //1.處理刪除
                    //-------------------------

                    //2.處理新增
                    $.each(responseDatas.newForums, function (idx, value) {
                                    let btnLike    = $('<button></button>').addClass('btn btn-primary').text('喜歡');    //喜歡
                                    let btnHate    = $('<button></button>').addClass('btn btn-primary').text('討厭');    //討厭
                                    let btnFav     = $('<button></button>').addClass('btn btn-primary btn-favorite').text('收藏');    //收藏
                                    let btnHide    = $('<button></button>').addClass('btn btn-primary btn-hide').text('隱藏');    //隱藏
                                    let btnEdit    = $('<button></button>').addClass('btn btn-danger');    //編輯


                                    let br = $('<br />');

                                    let postid = value.postId;
                                    let editable = value.editable;
                                    let url = '@Url.Action("PostView","Forum")?fPostId=' + postid;
                                    let urlEdit = '@Url.Action("Edit","Forum")?fPostId=' + postid;
                                    let link = $('<a></a>');
                                    let linkEdit = $('<a></a>');
                                    let td = $('<td></td>');
                                    td.attr('data-postid', postid);
                                    let tr = $('<tr></tr>');
                                    link.text(value.title).attr('href', url);
                                    linkEdit.text('編輯').attr('href', urlEdit);

                                    console.log(editable);

                                    if (editable == 'True') {
                                        td.append(link).append(br).append(btnLike).append(btnHate).append(btnFav).append(btnHide).append(btnEdit.append(linkEdit));
                                    } else {
                                        td.append(link).append(br).append(btnLike).append(btnHate).append(btnFav).append(btnHide);
                                    }



                                    tr.append(td);

                        $('.table-mainlist tbody').prepend(tr);

                                })

                    //3.處理更新
                    //--------------------------

                    console.log("test");
                            }
            )
        };

                        window.setInterval(refreshPostList, 1000);
    </script>

    @* 收藏文章 / 隱藏文章 *@
    <script>
        //收藏
        $(document).on('click', '.btn-favorite', function () {
            let pid = $(this).parent().attr('data-postid');
            let targetTr = $(this).parent().parent();
            $.post(
                '@Url.Action("FavirotePost", "Forum")',
                {
                    pid: pid

                }, function (response) {
                    $(targetTr).remove();
                    window.alert('已加入收藏清單');
                }
            )
        })

        //隱藏
        $(document).on('click', '.btn-hide', function () {
            let pid = $(this).parent().attr('data-postid');
            let targetTr = $(this).parent().parent();
            $.post(
                '@Url.Action("HidePost", "Forum")',
                {
                    pid: pid

                }, function (response) {
                    $(targetTr).remove();
                    window.alert('已加入隱藏清單');
                }
            )
        })

    </script>

    @* 喜歡文章 / 討厭文章 *@
    <script>
        //喜歡
        $(document).on('click', '.btn-like', function () {
            let thisBtn = $(this);
            let nextBtn = $(this).next();
            let pid = $(this).parent().attr('data-postid');
            $.post(
                '@Url.Action("ClickLike", "Forum")',
                {
                    pid: pid

                }, function (response) {
                    window.alert('成功送出【喜歡】');
                    thisBtn.attr('disabled', 'true');
                    nextBtn.removeAttr('disabled');
                }
            )
        })

        //討厭
        $(document).on('click', '.btn-hate', function () {
            let thisBtn = $(this);
            let prevBtn = $(this).prev();
            let pid = $(this).parent().attr('data-postid');
            $.post(
                '@Url.Action("ClickHate", "Forum")',
                {
                    pid: pid

                }, function (response) {
                    window.alert('成功送出【討厭】');
                    thisBtn.attr('disabled', 'true');
                    prevBtn.removeAttr('disabled');
                }
            )
        })

    </script>
}