@model List<tw.com.essentialoil.Forum.ViewModels.CForumList>

@{
    ViewBag.Title = "List";
    int lastPostId = 0;
    if (Model.ToList().Count > 0)
    {
        lastPostId = Model.Max(p => p.postId);
    };

}

@section Styles{
    <style>
        .postTitle{
            font-size: 20px;
        }

        .postTitle:hover{
            font-size: 20px;
        }

        .btnimage {
            width:15px; 
            height:auto; 
            border:none;
        }

        .btn{
            border:none;
        }

        tbody tr:nth-child(2n+1) {background-color:#d39ca7
        }

    </style>
}

<div style="margin:20px auto">
    <div>
        @* 紀錄上一筆的ajax時間，用來計算每次ajax的差異，不用每次全抓資料 *@
        <div id="prevGetTime" style="display:none;">@ViewBag.DateTime</div>
    </div>
</div>

@Html.Action("TopList", "Forum")

<h4>[文章列表]</h4>
<table class="table table-striped table-mainlist">
    <thead> 
        <tr>
            <th>文章序號</th>
            <th>Title</th>
            <th>文章作者</th>
            <th>建立時間</th>
        </tr>
    </thead>
    <tbody >
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.postId</td>
                <td data-postid="@item.postId">
                    @Html.ActionLink(item.postTitle, "PostView", new { fPostId = item.postId }, new { @class = "postTitle" })
                    <br />
                    @{
                        switch (item.likeOrHate)
                        {
                            case null:
                                <button class="btn btn-like"><img class="btnimage" src="~/Images/Forum/like.png" title="喜歡"/></button>
                                <button class="btn btn-hate"><img class="btnimage" src="~/Images/Forum/hate.png" title="討厭"/></button>
                                break;

                            case "True":
                                <button class="btn btn-like" disabled="disabled"><img class="btnimage" src="~/Images/Forum/like.png" title="喜歡" /></button>
                                <button class="btn btn-hate"><img class="btnimage" src="~/Images/Forum/hate.png" title="討厭"/></button>
                                break;

                            case "False":
                                <button class="btn btn-like"><img class="btnimage" src="~/Images/Forum/like.png" title="喜歡" /></button>
                                <button class="btn btn-hate" disabled="disabled"><img class="btnimage" src="~/Images/Forum/hate.png" title="討厭" /></button>
                                break;
                        }

                    }
                    <button class="btn btn-favorite"><img class="btnimage" src="~/Images/Forum/fav.png" title="收藏"/></button>
                    <button class="btn btn-hide"><img class="btnimage" src="~/Images/Forum/hide.png" title="隱藏"/></button>
                    @{
                        if (item.userFid == ViewBag.sessionId)
                        {
                            <a href="~/Forum/Edit?fPostId=@item.postId"><button class="btn"><img class="btnimage" src="~/Images/Forum/edit.png" title="編輯" /></button></a>
                        }
                    }
                </td>
                <td>
                    @item.userName
                </td>
                <td>
                    @item.createTime.ToLongDateString() -
                    @item.createTime.ToLongTimeString()
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
<script>
        //注意!! EventHandle.Edit 有修改，這邊也要做確認，避免兩邊IDmapping錯誤

        //建立Quill文章編輯器
        let toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],
            [{ 'list': 'bullet' }, { 'list': 'ordered' }],
            [{ 'script': 'super' }, { 'script': 'sub' }],      // superscript/subscript
            [{ 'direction': 'rtl' }],                         // text direction
            [{ 'indent': '+1' }, { 'indent': '-1' }],          // outdent/indent
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],
            ['image', 'video'],
            ['clean']                                         // remove formatting button
        ];

        //設定定時觸發的ajax，獲得最新文章的資料()
        function refreshPostList() {
            //取得前一次的畫面內容時間，用來判斷那些文章有被異動過
            let prevDateTime = $("#prevGetTime").text();
            let lastPostId = @lastPostId;

            $.get(
                '@Url.Action("RefreshList","Forum")',
                {
                            lastPostId: lastPostId,
                    prevDtaetime: prevDateTime
                },
                function (responseDatas) {
                    //先更新ajax的info欄位
                    $("#prevGetTime").text(responseDatas.newTime);


                    //判斷是否有新增的文章
                    //1.處理刪除
                    //-------------------------

                    //2.處理新增
                    $.each(responseDatas.newForums, function (idx, value) {
                        let imgLike = $('<img />').addClass('btnimage').attr('src', '/Images/Forum/like.png');
                        let imgHate = $('<img />').addClass('btnimage').attr('src','/Images/Forum/hate.png');
                        let imgFav  = $('<img />').addClass('btnimage').attr('src','/Images/Forum/fav.png');
                        let imgHide = $('<img />').addClass('btnimage').attr('src','/Images/Forum/hide.png');
                        let imgEdit = $('<img />').addClass('btnimage').attr('src','/Images/Forum/edit.png');

                        let btnLike = $('<button></button>').addClass('btn btn-like').append(imgLike);    //喜歡
                        let btnHate = $('<button></button>').addClass('btn btn-hate').append(imgHate);    //討厭
                        let btnFav  = $('<button></button>').addClass('btn btn-favorite').append(imgFav); //收藏
                        let btnHide = $('<button></button>').addClass('btn btn-hide').append(imgHide);    //隱藏
                        let btnEdit = $('<button></button>').addClass('btn').append(imgEdit);             //編輯


                        let br = $('<br />');

                        let postid = value.postId;
                        let editable = value.editable;
                        let url = '@Url.Action("PostView","Forum")?fPostId=' + postid;
                        let urlEdit = '@Url.Action("Edit","Forum")?fPostId=' + postid;
                        let link = $('<a></a>');
                        let linkEdit = $('<a></a>');

                        let tdPostId = $('<td></td>');
                        tdPostId.text(postid);

                        let tdTitle = $('<td></td>');
                        tdTitle.attr('data-postid', postid);

                        let tdAuthor = $('<td></td>');
                        tdAuthor.text(value.author);

                        let tdTime = $('<td></td>');
                        tdTime.text(value.createTime);

                        let tr = $('<tr></tr>');
                        link.text(value.title).attr('href', url).addClass('postTitle');
                        linkEdit.attr('href', urlEdit);

                        console.log(editable);

                        if (editable == 'True') {
                            tdTitle.append(link).append(br).append(btnLike).append(btnHate).append(btnFav).append(btnHide).append(linkEdit.append(btnEdit));
                        } else {
                            tdTitle.append(link).append(br).append(btnLike).append(btnHate).append(btnFav).append(btnHide);
                        }

                        tr.append(tdPostId).append(tdTitle).append(tdAuthor).append(tdTime);

                        $('.table-mainlist tbody').prepend(tr);

                    })

                    //3.處理更新
                    //--------------------------

                    console.log("test");
                }
            )
        };

        window.setInterval(refreshPostList, 1000);
</script>

    @* 收藏文章 / 隱藏文章 *@
    <script>
        //收藏
        $(document).on('click', '.btn-favorite', function () {
            let pid = $(this).parent().attr('data-postid');
            let targetTr = $(this).parent().parent();
            $.post(
                '@Url.Action("FavirotePost", "Forum")',
                {
                    pid: pid

                }, function (response) {
                    $(targetTr).remove();
                    window.alert('已加入收藏清單');
                }
            )
        })

        //隱藏
        $(document).on('click', '.btn-hide', function () {
            let pid = $(this).parent().attr('data-postid');
            let targetTr = $(this).parent().parent();
            $.post(
                '@Url.Action("HidePost", "Forum")',
                {
                    pid: pid

                }, function (response) {
                    $(targetTr).remove();
                    window.alert('已加入隱藏清單');
                }
            )
        })

    </script>

    @* 喜歡文章 / 討厭文章 *@
    <script>
        //喜歡
        $(document).on('click', '.btn-like', function () {
            let thisBtn = $(this);
            let nextBtn = $(this).next();
            let pid = $(this).parent().attr('data-postid');
            $.post(
                '@Url.Action("ClickLike", "Forum")',
                {
                    pid: pid

                }, function (response) {
                    window.alert('成功送出【喜歡】');
                    thisBtn.attr('disabled', 'true');
                    nextBtn.removeAttr('disabled');
                }
            )
        })

        //討厭
        $(document).on('click', '.btn-hate', function () {
            let thisBtn = $(this);
            let prevBtn = $(this).prev();
            let pid = $(this).parent().attr('data-postid');
            $.post(
                '@Url.Action("ClickHate", "Forum")',
                {
                    pid: pid

                }, function (response) {
                    window.alert('成功送出【討厭】');
                    thisBtn.attr('disabled', 'true');
                    prevBtn.removeAttr('disabled');
                }
            )
        })

    </script>
}