@model tw.com.essentialoil.Forum.ViewModels.CPostView

@{
    ViewBag.Title = "PostView";
    string result = Model.forum.fPostContent;
}

<style>
    img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        margin: auto;
    }
</style>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<h1>@Model.forum.fPostTitle</h1>

<div class="PostContent" style="width:600px; height:auto; margin:auto;">
    <div id="editor">

    </div>
    <div class="targetSource" style="display:none">
        @Html.Raw(result)
    </div>
</div>
<br />
<br />
<br />

<div class="comment" style="width:600px; height:auto; margin:auto;">
    回覆：<br />
    @using (Html.BeginForm())
    {
        <div id="commentDiv">

        </div>
        <input type="submit" value="回覆" />
        <textarea id="tmpPostId" name="tmpPostId" style="display:none">@Model.forum.fPostId</textarea>
        <textarea id="tmpReplyType" name="tmpReplyType" style="display:none">POST</textarea>
        <textarea id="tmpTargetId" name="tmpTargetId" style="display:none">@Model.forum.fPostId</textarea>
        <textarea id="tmpContent" name="tmpContent" style="display:none"></textarea>
        
        @*@Html.ActionLink("回覆", "Reply", "Forum", new { fPostId = Model.fPostId, target = "post" }, new { @class = "btn btn-primary" })*@
    }

</div>


<div style="margin-top:20px;">
    @for (int i = 0; i < Model.reply.Count; i++)
    {
        for (int k = 0; k < Model.reply[i].Count; k++)
        {
    <div class="commentElement" data-id="@Model.reply[i][k].fReplyId" data-seq="@Model.reply[i][k].fReplySeqNo" style="width:600px ; height:auto; margin:auto;border:1px solid black; padding:5px">
        @Html.Raw(Model.reply[i][k].fContent)
        <button class="btn-like btn btn-primary">喜歡</button>
        <button class="btn-hate btn btn-primary">討厭</button>
        <button class="btn-share btn btn-primary">分享</button>
        <button class="btn-comment btn btn-primary">留言</button>
    </div>
        }
    }
</div>


@*針對回覆-回覆的部分，先塞一個回覆的區塊，等按下回覆後，會顯示這個區塊並供user輸入*@
<div id="commentforcomment" style="display:none; width:600px; height:auto; margin:auto;">
    @using (Html.BeginForm())
    {
        <div id="commentforcommentDiv">

        </div>
    
        <input type="submit" value="回覆" />
        <textarea id="tmpPostId1" name="tmpPostId" style="display:none">@Model.forum.fPostId</textarea>
        <textarea id="tmpReplyType1" name="tmpReplyType" style="display:none">COMMENT</textarea>
        <textarea id="tmpTargetId1" name="tmpTargetId" style="display:none"></textarea>
        <textarea id="tmpContent1" name="tmpContent" style="display:none"></textarea>
    }


</div>

<script src="~/Scripts/Forum/QuillEditor.Reply.js"></script>

