@model List<List<prjShoppingForum.Models.Entity.tForum>>

@{
    ViewBag.Title = "SelfList";
}

<h4 style="margin-top:150px">收藏文章清單</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>文章序號</th>
            <th>文章標題</th>
            <th>作者</th>
            <th>建立時間</th>
            <th>取消收藏</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model[1])
        {
            <tr>
                <td>
                    @item.fPostId
                </td>
                <td>
                    @Html.ActionLink(item.fPostTitle, "PostView", new { fPostId = item.fPostId })
                </td>
                <td>@item.tUserProfile.fName</td>
                <td>@item.fCreateTime.ToLongDateString() - @item.fCreateTime.ToLongTimeString()</td>
                <td data-postid="@item.fPostId">
                    <button class="favRev btn btn-outline-secondary">取消收藏</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr style="border-top:2px solid #766248"/>
<h4>隱藏文章清單</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>文章序號</th>
            <th>文章標題</th>
            <th>作者</th>
            <th>建立時間</th>
            <th>取消隱藏</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model[0])
        {
        <tr>
            <td>
                @item.fPostId
            </td>
            <td>
                @Html.ActionLink(item.fPostTitle, "PostView", new { fPostId = item.fPostId })
            </td>
            <td>@item.tUserProfile.fName</td>
            <td>@item.fCreateTime.ToLongDateString() - @item.fCreateTime.ToLongTimeString()</td>
            <td data-postid="@item.fPostId">
                <button class="hideRev btn btn-secondary">取消隱藏</button>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $('.favRev').click(function () {
            let pid = $(this).parent().attr('data-postid');
            let targetTr = $(this).parent().parent();
            console.log(pid);

            $.post(
                '@Url.Action("RemovePost", "Forum")',
                {
                    pid: pid

                }, function (response) {
                    $(targetTr).remove();
                }
            )

        })

        $('.hideRev').click(function () {
            let pid = $(this).parent().attr('data-postid');
            let targetTr = $(this).parent().parent();
            console.log(pid);

            $.post(
                '@Url.Action("RemovePost", "Forum")',
                {
                    pid: pid

                }, function (response) {
                    $(targetTr).remove();
                }
            )

        })
    </script>
}