@model tw.com.essentialoil.ShoppingCart.ViewModels.CQuizTest

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>CQuizTest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fQuestionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fQuestionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fQuestionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fQuestionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fItemA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fItemA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fItemB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fItemB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fItemC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fItemC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fItemD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fItemD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fItemE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fItemE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fTestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fTestId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fTestStar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fTestStar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fTestEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fTestEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fTestCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fTestCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fQuestionCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fQuestionCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fCorrectCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fCorrectCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fScoreDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fScoreDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fQuestionScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fQuestionScore)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
