@model prjShoppingForum.Models.Entity.tTest

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tTest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fScoreDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fScoreDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fQuestionScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fQuestionScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fTestDiscontinue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fTestDiscontinue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tQuestion.fQuestionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tQuestion.fQuestionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tScore.fId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tScore.fId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fTestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
