<link rel="stylesheet" type="text/css" href="~/Styles/Home/home.css" />
<!-- ##### Welcome Area Start ##### -->
<style>
    .single_catagory_area:after {
        background-color: rgba(255, 255, 255, 0);
    }
    .logoImage {
        height: 60px;
        width: 220px
    }
</style>

@section Styles{
    <style>
        .mywrapper {
            position: relative;
            width: 100vw;
            height: 600px;
            overflow: hidden;
            margin: 0 auto;
            background: #000;
        }

        .ulAll {
            margin: 0;
            padding: 0;
            position: absolute;
        }

        .liAll {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        ul.slides {
            left: 0;
            transition: all .5s;
        }

       ul.slides li {
            width: 100vw;
            height: 600px;
            overflow: hidden;
            float: left;
        }

        ul.slides li img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .page {
            bottom: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .page li {
            border: 1px solid #fff;
            border-radius: 50%;
            margin: 0 5px;
            width: 20px;
            height: 20px;
        }

        .page li:hover, .page li.active {
            background: #fff;
        }

        .wrapper .dir_wrap {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 40px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .dir_left {
            left: 0;
        }

        .dir_right {
            right: 0;
        }

        .oi {
            opacity: .5;
            color: #000;
        }

        .dir_wrap:hover .oi {
            opacity: 1;
        }
    </style>
}

<div class="mywrapper">
    <ul class="ulAll slides">
    </ul>
    <ul class="ulAll page">
    </ul>
    <div class="dir_wrap dir_left" id="dir_left"><span class="oi" data-glyph="caret-left" title="" aria-hidden="true"></span></div>
    <div class="dir_wrap dir_right" id="dir_right"><span class="oi" data-glyph="caret-right" title="" aria-hidden="true"></span></div>
</div>

<!-- ##### Welcome Area End ##### -->
<!-- ##### Menu Start ##### -->
<div class="top_catagory_area section-padding-80 clearfix">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Catagory 單方精油-->
            <div class="col-12 col-sm-6 col-md-4">
                <a href="@Url.Action("ProductFrontPage","ProductFront",new { categoryID=1})">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                         style="background-image: url(/Images/Index/shop1.png);">
                        <div class="catagory-content">
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single Catagory 複方精油-->
            <div class="col-12 col-sm-6 col-md-4">
                <a href="@Url.Action("ProductFrontPage","ProductFront",new { categoryID=2})">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                         style="background-image: url(/Images/Index/shop2.png);">
                        <div class="catagory-content">
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single Catagory 植物油-->
            <div class="col-12 col-sm-6 col-md-4">
                <a href="@Url.Action("ProductFrontPage","ProductFront",new { categoryID=3})">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                         style="background-image: url(/Images/Index/shop3.png)">
                        <div class="catagory-content">
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>

@*<div class="top_catagory_area section-padding-80 clearfix">*@
<div class="container">
    <div class="row justify-content-center">
        <!-- Single Catagory 會員中心-->
        <div class="col-12 col-sm-6 col-md-4">
            <a href="@Url.Action("MemberCenter", "FrontUserProfile")">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                     style="background-image: url(/Images/Index/shop4.png);">
                    <div class="catagory-content">
                    </div>
                </div>
            </a>
        </div>
        <!-- Single Catagory 討論區-->
        <div class="col-12 col-sm-6 col-md-4">
            <a href="@Url.Action("List", "Forum")">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                     style="background-image: url(/Images/Index/shop5.png);">
                    <div class="catagory-content">
                    </div>
                </div>
            </a>
        </div>
        <!-- Single Catagory 最新消息-->
        <div class="col-12 col-sm-6 col-md-4">
            <a href="@Url.Action("NewsList","News")">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                     style="background-image: url(/Images/Index/shop6.png)">
                    <div class="catagory-content">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
@*</div>*@
<!-- ##### Menu End ##### -->
<!-- ##### New Arrivals Area End ##### -->
<!-- ##### Brands Area Start ##### -->
<h4 style="text-align:center;margin-top:150px; margin-bottom:0px;font-family:UD Digi Kyokasho NP-B">推薦網站</h4>
<div class="brands-area d-flex align-items-center justify-content-between"
     style="height:80px; background-color:#ffffff; padding:0px 20px">
    <!-- Brand Logo -->
    <a href="https://corp.treeoflife.co.jp/">
        <div @*class="single-brands-logo"*@>
            <img src="~/Images/Index/logo_sekatsunoki.jpg" alt="" class="logoImage">
        </div>
    </a>
    <!-- Brand Logo -->
    <a href="https://www.aromahealer.net">
        <div>
            <img src="~/Images/Index/logo_frorihana.jpg" alt="" class="logoImage">
        </div>
    </a>
    <!-- Brand Logo -->
    <a href="http://www.canjune.com.tw/">
        <div>
            <img src="~/Images/Index/logo_anius.jpg" alt="" class="logoImage">
        </div>
    </a>
    <!-- Brand Logo -->
    <a href="https://www.shop2000.com.tw/Charoma">
        <div>
            <img src="~/Images/Index/logo_charlotte.jpg" alt="" class="logoImage">
        </div>
    </a>

    <!-- Brand Logo -->
    <a href="https://github.com/">
        <div>
            <img src="~/Images/Index/logo_github.jpg" alt=""class="logoImage">
        </div>
    </a>
</div>

@section Scripts{
    <script>
        var num = 0;
        var slideWidth = $('.mywrapper').css('width').replace('px','');
        var sliders = ["bg-1.png", "bg-2.jpg", "bg-3.jpg"];
        var slideCount = sliders.length;

        for (i = 0; i < slideCount; i++) {
            let li_tmp_slides = $('<li></li>').addClass('liAll')
            let img = $('<img />').attr('src', `/Images/Index/${sliders[i]}`);
            let li = li_tmp_slides.append(img)

            let li_tmp = $('<li></li>').addClass('liAll')

            $(".slides ").append(li);
            $(".page").append(li_tmp);
        }

        $(".page li").eq(0).addClass('active');
        setWidth();
        $(".page").on("mouseenter", "li", function () {
            num = $(this).index();
            goSlide(num);

        });

        $("#dir_left").click(function () {
            if (num > 0) {
                num = num - 1;
            }
            goSlide(num);
        });
        $("#dir_right").click(function () {
            if (num < (slideCount - 1)) {
                num = num + 1;
            }
            goSlide(num);
        });

        $(window).resize(function () {
            setWidth();
        });

        function setWidth() {
            var width = $(window).width();
            if (width <= slideWidth) {
                slideWidth = width;
            } else {
                slideWidth = slideWidth;
            }
            $(".slides").width(slideWidth * slideCount);
            $(".slides li, .mywrapper").width(slideWidth);
            goSlide(num);
        }
        function goSlide(num) {
            $(".page li").eq(num).addClass("active")
                .siblings().removeClass("active");
            $(".slides").css("left", 0 - slideWidth * num + "px");
        }

    </script>
}
