<link rel="stylesheet" type="text/css" href="~/Styles/Home/home.css" />
<!-- ##### Welcome Area Start ##### -->
<section class="welcome_area bg-img background-overlay" style="background-image: url(/Images/Index/bg-1.png); max-height:400px " />
@*<div class="container h-100">
    <div class="row h-100 align-items-center">*@

<style>
    .single_catagory_area:after {
        background-color: rgba(255, 255, 255, 0);
    }
    .logoImage {
        height: 60px;
        width: 220px
    }
</style>
<div class="col-12">
    <div class="hero-content">
        <h6></h6>
        <h2></h2>
        <a href="#"></a>
    </div>
</div>
@*</div>
    </div>*@
</section>
<!-- ##### Welcome Area End ##### -->
<!-- ##### Menu Start ##### -->
<div class="top_catagory_area section-padding-80 clearfix">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Catagory 單方精油-->
            <div class="col-12 col-sm-6 col-md-4">
                <a href="@Url.Action("ProductFrontPage","ProductFront",new { categoryID=1})">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                         style="background-image: url(/Images/Index/shop1.png);">
                        <div class="catagory-content">
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single Catagory 複方精油-->
            <div class="col-12 col-sm-6 col-md-4">
                <a href="@Url.Action("ProductFrontPage","ProductFront",new { categoryID=2})">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                         style="background-image: url(/Images/Index/shop2.png);">
                        <div class="catagory-content">
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single Catagory 植物油-->
            <div class="col-12 col-sm-6 col-md-4">
                <a href="@Url.Action("ProductFrontPage","ProductFront",new { categoryID=3})">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                         style="background-image: url(/Images/Index/shop3.png)">
                        <div class="catagory-content">
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>

@*<div class="top_catagory_area section-padding-80 clearfix">*@
<div class="container">
    <div class="row justify-content-center">
        <!-- Single Catagory 會員中心-->
        <div class="col-12 col-sm-6 col-md-4">
            <a href="@Url.Action("MemberCenter", "FrontUserProfile")">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                     style="background-image: url(/Images/Index/shop4.png);">
                    <div class="catagory-content">
                    </div>
                </div>
            </a>
        </div>
        <!-- Single Catagory 討論區-->
        <div class="col-12 col-sm-6 col-md-4">
            <a href="@Url.Action("List", "Forum")">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                     style="background-image: url(/Images/Index/shop5.png);">
                    <div class="catagory-content">
                    </div>
                </div>
            </a>
        </div>
        <!-- Single Catagory 最新消息-->
        <div class="col-12 col-sm-6 col-md-4">
            <a href="@Url.Action("NewsList","News")">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                     style="background-image: url(/Images/Index/shop6.png)">
                    <div class="catagory-content">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
@*</div>*@
<!-- ##### Menu End ##### -->
<!-- ##### New Arrivals Area End ##### -->
<!-- ##### Brands Area Start ##### -->
<h4 style="text-align:center;margin-top:150px; margin-bottom:0px;font-family:UD Digi Kyokasho NP-B">推薦網站</h4>
<div class="brands-area d-flex align-items-center justify-content-between"
     style="height:80px; background-color:#ffffff; padding:0px 20px">
    <!-- Brand Logo -->
    <a href="https://corp.treeoflife.co.jp/">
        <div @*class="single-brands-logo"*@>
            <img src="~/Images/Index/logo_sekatsunoki.jpg" alt="" class="logoImage">
        </div>
    </a>
    <!-- Brand Logo -->
    <a href="https://www.aromahealer.net">
        <div>
            <img src="~/Images/Index/logo_frorihana.jpg" alt="" class="logoImage">
        </div>
    </a>
    <!-- Brand Logo -->
    <a href="http://www.canjune.com.tw/">
        <div>
            <img src="~/Images/Index/logo_anius.jpg" alt="" class="logoImage">
        </div>
    </a>
    <!-- Brand Logo -->
    <a href="https://www.shop2000.com.tw/Charoma">
        <div>
            <img src="~/Images/Index/logo_charlotte.jpg" alt="" class="logoImage">
        </div>
    </a>

    <!-- Brand Logo -->
    <a href="https://github.com/">
        <div>
            <img src="~/Images/Index/logo_github.jpg" alt=""class="logoImage">
        </div>
    </a>
</div>
