@model tw.com.essentialoil.ViewModels.COrderViews
@{ 
    var total = 0;
    var distotal = 0;
    decimal discount = 0;
    if (@Model.DiscountPrice != 0)
    {
        discount = Model.DiscountPrice;
    }
    else
    {
        discount = Model.DiscountContent;
    }
}
<div class="container" @*class="body"*@ style="margin-top:150px" >
    <div @*class="wrappers"*@>
        <h3>資料填寫</h3>
        <h6 class="container">已選購商品</h6>
        <table class="table table-light">
            <tr>
                <th>
                    商品圖片
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tProducts.fProductChName)
                </th>
                <th>
                    數量 @*@Html.DisplayNameFor(model => model.tShoppingCarts.fQuantity)*@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tProducts.fUnitPrice)
                </th>
                <th>
                    小計
                </th>
            </tr>
            @foreach (var select in Model.ShoppingCart)
            {
                var pict = $"/Images/Product/{select.fProductID}.jpg";
                var prod = Model.Product.FirstOrDefault(p => p.fProductID == select.fProductID);
                var price = Convert.ToInt32(select.fQuantity * prod.fUnitPrice);
                total += price;

                <tr>
                    <td>
                        <img src="@pict" style="height:50px;width:50px" />
                    </td>
                    <td>
                        @prod.fProductChName
                    </td>
                    <td>
                        @select.fQuantity
                    </td>
                    <td>
                        @prod.fUnitPrice
                    </td>
                    <td>
                        @price
                    </td>
                </tr>
            }
            @{ 
                var disc = 0;
                if (discount < 1 && discount > 0)
                {
                    distotal = (total * (int)(discount*100))/100;
                    disc = total - distotal;
                }
                else
                {
                    distotal = total - (int)discount;
                    disc = total - distotal;
                }
            }
            <tr>
                <td>
                    訂單小計： @total
                </td>
                <td>
                    使用折扣：@disc
                </td>
                <td>
                    訂單總金額： @distotal
                </td>
            </tr>
        </table>
        <form action="~/tOrders/OrderCreate" method="post" id="wizard" name="OrderForm">

            <div class="form-row">
                <div class="form-holder" style="font-size:12px">
                    <p>購買者姓名@{@Html.TextBoxFor(model => model.UserProfile.FirstOrDefault().fName, new { id = "buyname", @class = "form-control", placeholder = "Member Name" });}</p>
                    @*<input type="text" class="form-control" placeholder="First Name">*@
                </div>
                <div class="form-holder">
                    <p>購買者手機@{@Html.TextBoxFor(model => model.UserProfile.FirstOrDefault().fPhone, new { id = "buyphone", @class = "form-control", placeholder = "Member Cell Phone" });}</p>

                    @*<input type="text" class="form-control" placeholder="Last Name">*@
                </div>
            </div>
            <div class="form-row">
                <div class="form-address">
                    <p>購買者地址@{@Html.TextBoxFor(model => model.UserProfile.FirstOrDefault(). fAddress, new { id = "buyaddress", @class = "form-control", placeholder = "Address" });}</p>
                    <p>@Html.CheckBox("CheckBox1", new { id = "checkbox" })收貨人同購買者</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-holder">
                    <p>收貨者姓名<label style="color:crimson">&nbsp;*必填</label><input type="email" name="ConsigneeName" id="name" onchange="str1(this.id)" class="form-control" placeholder="Full Name" /></p>
                </div>
                <div class="form-holder">
                    <p>收貨者手機<label style="color:crimson">&nbsp;*必填</label><input type="text" name="ConsigneeCellPhone" id="phone" onchange="str2(this.id)" class="form-control" placeholder="CellPhone" /></p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-address">
                    <p>收貨者地址<label style="color:crimson">&nbsp;*必填</label><input type="text" name="ConsigneeAddress" id="address" onchange="str3(this.id)" class="form-control" placeholder="Address" /></p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-holder">
                    <p>公司抬頭(可選填)<input type="text" name="OrderCompanyTitle" class="form-control" placeholder="CompanyTitle" /></p>
                </div>
                <div class="form-holder">
                    <p>統一編號(可選填)<input type="text" name="OrderTaxIdDNumber" class="form-control" placeholder="TaxIdDNumber" /></p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-holder">
                    <p>訂單備註(可選填)<input type="text" name="OrderPostScript" class="form-control" placeholder="PostScript" /></p>
                </div>
                <div class="form-holder">
                    <p>希望送達日(可選填，如無選填將會於三天後到貨)<input type="text" id="datepicker" name="RequirtDate" autocomplete="off" style="ime-mode:disabled" onkeypress="return false" class="form-control" @*placeholder="HopeDate"*@ /></p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-radio">
                    <p>支付方式<label style="color:crimson">&nbsp;*必填</label><input type="radio" name="Payment" id="payment" onchange="str4(this.id)" class="w3-radio" value="ATM"/>ATM</p>
                </div>
                <div class="form-radio">
                    <p style="font-size:8px"><input type="checkbox" disabled name="OrderCheck" id="check"  />確認您所輸入的資料正確，以利出貨正常配送。</p>
                </div>
                <div class="form-radio">
                    <input type="button" class="btn btn-outline-success" disabled value="產生訂單" id="CreateOrder" name="CreateOrder" />
                </div>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="~/Content/styles.css">
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section Scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/mains.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/zh-tw.js"></script>
    <script>

        var checkname = document.querySelector('#checkbox');
        var check = document.querySelector('#check');
        var ConsigneeName = document.querySelector('#name');
        var ConsigneeCellPhone = document.querySelector('#phone');
        var ConsigneeAddress = document.querySelector('#address');
        var Payment = document.querySelector('#payment');
        var name = "";
        var phone = "";
        var address = "";
        var payment = "";
        function str1(x) {
            name = document.getElementById(x).value;
            console.log(name);
        }

        function str2(x) {
            phone = document.getElementById(x).value;
            console.log(phone);
        }

        function str3(x) {
            address = document.getElementById(x).value;
            console.log(address);
        }

        function str4(x) {
            payment = document.getElementById(x).value;
            console.log(payment);
        }

        var btnCreateOrder = document.querySelector('#CreateOrder');
        var xhr = null;

        checkname.addEventListener('click', function () {
            if (checkname.checked) {
                $('#name').val($('#buyname').val());
                $('#phone').val($('#buyphone').val());
                $('#address').val($('#buyaddress').val());
                name = $('#name').val();
                phone = $('#phone').val();
                address = $('#address').val();
            }
            else {
                $('#name').val(null);
                $('#phone').val(null);
                $('#address').val(null);
                name = "";
                phone = "";
                address = "";
            }
        })

        Payment.addEventListener('blur', function () {
            if (name != "" && phone != "" && address != "" && payment != "") {
                check.disabled = false;
            }
            else
                check.disabled = true;
        });

        check.addEventListener('click', function () {
            if (check.checked)
                btnCreateOrder.disabled = false;
            else
                btnCreateOrder.disabled = true;
        });

        btnCreateOrder.addEventListener("click", function () {
            document.OrderForm.submit();
        });

        if ($('#check').checked) {
            $('#check').val("ATM");
        }

        $(function () {
            $("#datepicker").datepicker({
                minDate: +1,
                maxDate: +15,
                dateFormat: $("yy-mm-dd").val(),
            });
        });
    </script>


}