@model tw.com.essentialoil.ViewModels.COrderViews
@{
    ViewBag.Title = "OrderList";
}

<div class="container">
    <h2>完成訂單</h2>
    <table class="table tab-pane" style="margin:0">
        <thead>
            <tr>
                <th>
                    訂單編號
                </th>
                <th>
                    訂單日期
                </th>
                <th>
                    收貨人姓名
                </th>
                <th>
                    收貨人電話
                </th>
                <th>
                    收貨人地址
                </th>
                <th>
                    發票公司抬頭
                </th>
                <th>
                    統一編號
                </th>
                <th>
                    訂單備註
                </th>
                <th>
                    支付方式
                </th>
                <th>
                    總金額
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var list in Model.Order)
            {
                int total = 0;
                foreach (var q in Model.OrderDetail.Where(p => p.fOrderId == list.fOrderId))
                {
                    var littletotal = Convert.ToInt32(q.fUnitPrice * q.fOrderQuantity);
                    total += littletotal;
                }
                <tr>
                    <td class="card" id="card-362120" style="border:hidden">
                        <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-362120" href="#card-element-608462">@list.fOrderId</a>
                    </td>
                    <td>
                        @list.fOrderDate
                    </td>
                    <td>
                        @list.fConsigneeName
                    </td>
                    <td>
                        @list.fConsigneeCellPhone
                    </td>
                    <td>
                        @list.fConsigneeAddress
                    </td>
                    <td>
                        @list.fOrderCompanyTitle
                    </td>
                    <td>
                        @list.fOrderTaxIdDNumber
                    </td>
                    <td>
                        @list.fOrderPostScript
                    </td>
                    <td>
                        @list.fPayment
                    </td>
                    <td>
                        @total
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <table id="card-element-608462" class="table table-info collapse">
        <thead>
            <tr>
                <th>
                    商品
                </th>
                <th>
                    商品名稱
                </th>
                <th>
                    商品價格
                </th>
                <th>
                    商品數量
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var list in Model.Order)
            {
                foreach (var orderdetial in Model.OrderDetail.Where(p => p.fOrderId == list.fOrderId))
                {
                    var imageScr = $"/Images/Product/{orderdetial.fProductId}.jpg";
                    var productname = Model.Product.Where(p => p.fProductID == orderdetial.fProductId).FirstOrDefault();
                    <tr>
                        <td>
                            <img src="@imageScr" style="height:50px;width:50px" /><br />
                        </td>
                        <td>
                            @productname.fProductChName<br />
                        </td>
                        <td>
                            @orderdetial.fUnitPrice<br />
                        </td>
                        <td>
                            @orderdetial.fOrderQuantity<br />
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>